<div id="aside">
    <div class="aside-right">
        <!--<div class="aside-right-ad" style="">
            <script type="text/javascript"
                    src="https://ads.gamemeca.com/adver/js/?tag=gamemeca/gameinfo/gameinfo_blank(right)"></script>
            <a href="https://ads.gamemeca.com/adver/click/?id=36&amp;adn=335&amp;amn=541&amp;adurl=https%3A%2F%2Fwww.gamemeca.com%2Fsmart.php%3Frts%3Dboard%26gcode%3Dmobile_guide%26gmid%3Dg0012281"
               target="_blank"><img
                    src="https://adcdn.gamemeca.com/adver/2021/04/21/3413617/9877072c5d9dfb9b84a2e2d1923d5027(0).jpg"
                    width="134" height="241" border="0"></a></div>-->
        <div class="aside-community-list">
            <div class="community-premium">
                <div class="title"></div>
                <ul>
                    <li>
                        <img src="https://cdn.gamemeca.com/g17/images/conico/conico-odin-b.gif" class="rBanImg">
                        <a href="https://trees.gamemeca.com/odin/" target="_blank" class="rBan"
                           onclick="ga('send', 'event', 'GM_RIGHT_TREES_CLICK', 'click_url', ''); ga('send', 'event', 'GM_TOTAL_TREES_CLICK', 'click_url', 'GM_TOTAL_TREES_CLICK');">오딘:
                            발할라 라이징</a>
                    </li>
                    <li>
                        <img src="https://cdn.gamemeca.com/g17/images/conico/conico-2worlds-b.gif" class="rBanImg">
                        <a href="https://trees.gamemeca.com/2worlds/" target="_blank" class="rBan"
                           onclick="ga('send', 'event', 'GM_RIGHT_TREES_CLICK', 'click_url', ''); ga('send', 'event', 'GM_TOTAL_TREES_CLICK', 'click_url', 'GM_TOTAL_TREES_CLICK');">제2의
                            나라</a>
                    </li>
                    <li>
                        <img src="https://cdn.gamemeca.com/g17/images/conico/conico-icarus-b.gif" class="rBanImg">
                        <a href=" https://trees.gamemeca.com/icaruseternal/" target="_blank" class="rBan"
                           onclick="ga('send', 'event', 'GM_RIGHT_TREES_CLICK', 'click_url', ''); ga('send', 'event', 'GM_TOTAL_TREES_CLICK', 'click_url', 'GM_TOTAL_TREES_CLICK');">이카루스
                            이터널</a>
                    </li>
                    <li>
                        <img src="https://cdn.gamemeca.com/g17/images/conico/conico-gransaga-b.gif" class="rBanImg">
                        <a href="https://trees.gamemeca.com/gransaga/" target="_blank" class="rBan"
                           onclick="ga('send', 'event', 'GM_RIGHT_TREES_CLICK', 'click_url', ''); ga('send', 'event', 'GM_TOTAL_TREES_CLICK', 'click_url', 'GM_TOTAL_TREES_CLICK');">그랑사가</a>
                    </li>
                    <li>
                        <img src="https://cdn.gamemeca.com/g17/images/conico/conico-guardan-b.gif" class="rBanImg">
                        <a href="https://trees.gamemeca.com/guardiantales/" target="_blank" class="rBan"
                           onclick="ga('send', 'event', 'GM_RIGHT_TREES_CLICK', 'click_url', ''); ga('send', 'event', 'GM_TOTAL_TREES_CLICK', 'click_url', 'GM_TOTAL_TREES_CLICK');">가디언
                            테일즈</a>
                    </li>
                    <li>
                        <img src="https://cdn.gamemeca.com/g17/images/conico/conico-a3-b.gif" class="rBanImg">
                        <a href="https://trees.gamemeca.com/a3/" target="_blank" class="rBan"
                           onclick="ga('send', 'event', 'GM_RIGHT_TREES_CLICK', 'click_url', ''); ga('send', 'event', 'GM_TOTAL_TREES_CLICK', 'click_url', 'GM_TOTAL_TREES_CLICK');">A3:
                            스틸얼라이브</a>
                    </li>
                    <li>
                        <img src="https://cdn.gamemeca.com/g17/images/conico/conico-bsr-b.gif" class="rBanImg">
                        <a href="https://trees.gamemeca.com/bnsmkr/" target="_blank" class="rBan"
                           onclick="ga('send', 'event', 'GM_RIGHT_TREES_CLICK', 'click_url', ''); ga('send', 'event', 'GM_TOTAL_TREES_CLICK', 'click_url', 'GM_TOTAL_TREES_CLICK');">블소
                            레볼루션</a>
                    </li>
                    <li>
                        <img src="https://cdn.gamemeca.com/g17/images/conico/conico-lineage-b.gif" class="rBanImg">
                        <a href="https://trees.gamemeca.com/lineageii/" target="_blank" class="rBan"
                           onclick="ga('send', 'event', 'GM_RIGHT_TREES_CLICK', 'click_url', ''); ga('send', 'event', 'GM_TOTAL_TREES_CLICK', 'click_url', 'GM_TOTAL_TREES_CLICK');">리니지2
                            레볼루션</a>
                    </li>
                    <li>
                        <img src="https://cdn.gamemeca.com/g17/images/conico/conico-kor-b.gif" class="rBanImg">
                        <a href="https://trees.gamemeca.com/pc-console-game-list-korean-patch/" target="_blank"
                           class="rBan"
                           onclick="ga('send', 'event', 'GM_RIGHT_TREES_CLICK', 'click_url', ''); ga('send', 'event', 'GM_TOTAL_TREES_CLICK', 'click_url', 'GM_TOTAL_TREES_CLICK');">한글패치</a>
                    </li>
                    <li>
                        <img src="https://cdn.gamemeca.com/g17/images/conico/conico-steam-b.gif" class="rBanImg">
                        <a href="https://trees.gamemeca.com/hubs/steamgame-list/" target="_blank" class="rBan"
                           onclick="ga('send', 'event', 'GM_RIGHT_TREES_CLICK', 'click_url', ''); ga('send', 'event', 'GM_TOTAL_TREES_CLICK', 'click_url', 'GM_TOTAL_TREES_CLICK');">스팀공략</a>
                    </li>
                </ul>
                <div class="boot btnAsideCommunityMore"></div>
            </div>
        </div>
        <div class="ban-btna btnAsideMagazine"></div>
        <div class="ban-btnb btnAsideUserReport"></div>
        <div class="ban-btnc btnAsideAdHelp"></div>
        <div class="ban-btnd btnQnaHelp"></div>

        <div class="aside-right-ad2" style="background : rgba(0, 0, 0, 0); border: none;">
            <div class="ban-top" onclick="location.href='#'" style="margin: 74px 1px 0;"></div>
        </div>
    </div>
</div>