<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/assets/css/common.css}" rel="stylesheet">
    <link th:href="@{/assets/css/gameinfo.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/assets/plugins/jquery/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/assets/plugins/jquery/jquery.ajax-cross-origin.min.js}" ></script>
    <script layout:fragment="script" type="text/javascript" th:src="@{/assets/js/common/common.js}"></script>
</head>
