<html lang="ko-KR" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://cdn.gamemeca.com/g17/css/common.css?v=21051615">
    <script type="text/javascript" src="/public/js/jquery.js"></script>
    <script type="text/javascript" src="/public/js/jQueryCookie.js"></script>
    <script type="text/javascript" src="/public/js/jRequest.js"></script>
    <script type="text/javascript" src="/public/js/jquery-ui.min.effect.js"></script>
    <script type="text/javascript" src="/public/js/common.js" async="async"></script>
    <script type="text/javascript" src="/public/js/jquery.node.js" async="async"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.gamemeca.com/g17/css/news.css?v=21051615">
</head>
<body style="position: relative; min-height: 100%; top: 0px;">
<div id="main">
    <div id="content">
        <div class="news-view">
            <div class="content-left">
                <div class="article-comment">
                    <script type="text/javascript" src="/_comment/comment.js?v=200731"></script>
                    <script type="text/javascript" src="/_script/autolink.js"></script>
                    <link rel="stylesheet" type="text/css" href="https://cdn.gamemeca.com/g17/css/comment.css?v=210516">

                    <style>
                        .commt_write {
                            height: 166px;
                        }

                        .commt_write textarea {
                            height: 70px;
                        }

                        .commt_write textarea::placeholder {
                            background: url("//cdn.gamemeca.com/g17/images/event/reple/event_info_txt.jpg") no-repeat 0 100%;
                        }

                        .commt_write textarea::-webkit-input-placeholder {
                            height: 55px;
                            background: url("//cdn.gamemeca.com/g17/images/event/reple/event_info_txt.jpg") no-repeat 0 100%;
                        }

                        textarea:-ms-input-placeholder {
                            margin-bottom: 0;
                            height: 68px;
                            background: url("//cdn.gamemeca.com/g17/images/event/reple/event_info_txt.jpg") no-repeat 15px 75%;
                        }

                        textarea:-mos-input-placeholder {
                            background: url("//cdn.gamemeca.com/g17/images/event/reple/event_info_txt.jpg") no-repeat 0 100%;
                        }
                    </style>
                    <a name="comment"></a>
                    <div class="gm_comment">
                        <div class="commt_heard">댓글 <span>11</span> <span class="explan"> (댓글을 달면 5포션이 지급됩니다)</span>
                        </div>
                        <div class="commt_write">
                            <div class="loginBox">

                            </div>
                            <textarea class="commt" placeholder="댓글을 입력해주세요."></textarea>
                            <button data-acd="1660059">등록</button>
                        </div>
                        <div class="commt_list">
                            <div class="commt_view"><h2><span class="sns_icon naver"></span>홍시<span class="date">2021.05.15 12:01</span>
                            </h2><span class="al_btn"></span><span class="al_box" data-acd="1660059" data-cno="2051993"><span
                                    class="al_box_inner" style="display: none;"><a class="report">신고</a><a
                                    class="delete">삭제</a></span></span>
                                <p>80%가 아니라 0.8%입니다</p>
                                <div class="commt_ctr" data-acd="1660059" data-cno="2051993">
                                    <button class="reply" data-num="3">답글</button>
                                    <button class="bad" data-num="0"></button>
                                    <button class="good" data-num="0"></button>
                                </div>
                                <div class="commt_reply" data-acd="1660059" data-cno="2051993"><span
                                        class="reply_title"></span>
                                    <div class="commt_view2"><h2><span class="sns_icon gamemeca"></span><span
                                            class="manager"></span>risell<span class="date">2021.05.15 12:26</span></h2>
                                        <span class="al_btn"></span><span class="al_box" data-acd="1660059"
                                                                          data-cno="2051998"><span class="al_box_inner"
                                                                                                   style="display: none;"><a
                                                class="report">신고</a><a class="delete">삭제</a></span></span>
                                        <p>안녕하세요, 게임메카입니다. 잘못된 계산 표현으로 혼란을 드린 점 사과드립니다. 해당 부분은 알맞게 수정됐습니다. 앞으로 더 세심하게
                                            기사를 살피겠습니다.</p>
                                        <div class="commt_ctr" data-acd="1660059" data-cno="2051998">
                                            <button class="bad" data-num="0"></button>
                                            <button class="good" data-num="0"></button>
                                        </div>
                                    </div>
                                    <div class="commt_view2"><h2><span class="sns_icon naver"></span>메로나맛우유<span
                                            class="date">2021.05.15 13:08</span></h2><span class="al_btn"></span><span
                                            class="al_box" data-acd="1660059" data-cno="2052000"><span
                                            class="al_box_inner" style="display: none;"><a class="report">신고</a><a
                                            class="delete">삭제</a></span></span>
                                        <p>솔직히 무죄지 상식적으로 0.8% 딸랑줄지 생각이나 했겠냐구 ㅋㅋㅋㅋㅋ</p>
                                        <div class="commt_ctr" data-acd="1660059" data-cno="2052000">
                                            <button class="bad" data-num="0"></button>
                                            <button class="good" data-num="0"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="commt_view"><h2><span class="sns_icon naver"></span>XEST<span class="date">2021.05.15 12:07</span>
                            </h2><span class="al_btn"></span><span class="al_box" data-acd="1660059" data-cno="2051995"><span
                                    class="al_box_inner" style="display: none;"><a class="report">신고</a><a
                                    class="delete">삭제</a></span></span>
                                <p>0.8을 곱하는 멍청한 기자 ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ</p>
                                <div class="commt_ctr" data-acd="1660059" data-cno="2051995">
                                    <button class="reply" data-num="1">답글</button>
                                    <button class="bad" data-num="1"></button>
                                    <button class="good" data-num="0"></button>
                                </div>
                                <div class="commt_reply" data-acd="1660059" data-cno="2051995"><span
                                        class="reply_title"></span>
                                    <div class="commt_view2"><h2><span class="sns_icon gamemeca"></span><span
                                            class="manager"></span>risell<span class="date">2021.05.15 12:26</span></h2>
                                        <span class="al_btn"></span><span class="al_box" data-acd="1660059"
                                                                          data-cno="2051997"><span class="al_box_inner"
                                                                                                   style="display: none;"><a
                                                class="report">신고</a><a class="delete">삭제</a></span></span>
                                        <p>안녕하세요, 게임메카입니다. 잘못된 계산 표현으로 혼란을 드린 점 사과드립니다. 해당 부분은 알맞게 수정됐습니다. 앞으로 더 세심하게
                                            기사를 살피겠습니다.</p>
                                        <div class="commt_ctr" data-acd="1660059" data-cno="2051997">
                                            <button class="bad" data-num="0"></button>
                                            <button class="good" data-num="0"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="commt_view"><h2><span class="sns_icon naver"></span>준또먹<span class="date">2021.05.15 12:42</span>
                            </h2><span class="al_btn"></span><span class="al_box" data-acd="1660059" data-cno="2051999"><span
                                    class="al_box_inner" style="display: none;"><a class="report">신고</a><a
                                    class="delete">삭제</a></span></span>
                                <p>70~80 프로라고 해서 이게 뭔 소리야 하고 내가 홈페이지 공지 잘 못 본 줄 알고 다시 가서 확인했네;; 앞으로는 이런 실수 없길</p>
                                <div class="commt_ctr" data-acd="1660059" data-cno="2051999">
                                    <button class="reply" data-num="0">답글</button>
                                    <button class="bad" data-num="0"></button>
                                    <button class="good" data-num="0"></button>
                                </div>
                                <div class="commt_reply" data-acd="1660059" data-cno="2051999"></div>
                            </div>
                            <div class="commt_view"><h2><span class="sns_icon naver"></span>peacher<span class="date">2021.05.15 15:35</span>
                            </h2><span class="al_btn"></span><span class="al_box" data-acd="1660059" data-cno="2052003"><span
                                    class="al_box_inner" style="display: none;"><a class="report">신고</a><a
                                    class="delete">삭제</a></span></span>
                                <p>0.8퍼? 안받고 만다</p>
                                <div class="commt_ctr" data-acd="1660059" data-cno="2052003">
                                    <button class="reply" data-num="0">답글</button>
                                    <button class="bad" data-num="0"></button>
                                    <button class="good" data-num="0"></button>
                                </div>
                                <div class="commt_reply" data-acd="1660059" data-cno="2052003"></div>
                            </div>
                            <div class="commt_view"><h2><span class="sns_icon naver"></span>wjdgns****<span
                                    class="date">2021.05.15 15:53</span></h2><span class="al_btn"></span><span
                                    class="al_box" data-acd="1660059" data-cno="2052004"><span class="al_box_inner"
                                                                                               style="display: none;"><a
                                    class="report">신고</a><a class="delete">삭제</a></span></span>
                                <p>사기를 쳐놓고 무슨 일시적 오류 배상하듯 하고 있네 ㅋㅋㅋㅋㅋㅋㅋㅋㅋ</p>
                                <div class="commt_ctr" data-acd="1660059" data-cno="2052004">
                                    <button class="reply" data-num="0">답글</button>
                                    <button class="bad" data-num="0"></button>
                                    <button class="good" data-num="0"></button>
                                </div>
                                <div class="commt_reply" data-acd="1660059" data-cno="2052004"></div>
                            </div>
                            <div class="commt_view"><h2><span class="sns_icon naver"></span>령이<span class="date">2021.05.15 20:17</span>
                            </h2><span class="al_btn"></span><span class="al_box" data-acd="1660059" data-cno="2052005"><span
                                    class="al_box_inner" style="display: none;"><a class="report">신고</a><a
                                    class="delete">삭제</a></span></span>
                                <p>저정도 보상이면 유저 우롱하는거 아닌가?</p>
                                <div class="commt_ctr" data-acd="1660059" data-cno="2052005">
                                    <button class="reply" data-num="0">답글</button>
                                    <button class="bad" data-num="0"></button>
                                    <button class="good" data-num="0"></button>
                                </div>
                                <div class="commt_reply" data-acd="1660059" data-cno="2052005"></div>
                            </div>
                            <div class="commt_view"><h2><span class="sns_icon gamemeca"></span><span class="level"><img
                                    src="//cdn.gamemeca.com/design/images/level_icon/level_99.gif"></span>hst111<span
                                    class="date">2021.05.16 14:47</span></h2><span class="al_btn"></span><span
                                    class="al_box" data-acd="1660059" data-cno="2052044"><span class="al_box_inner"
                                                                                               style="display: none;"><a
                                    class="report">신고</a><a class="delete">삭제</a></span></span>
                                <p>추가보상에 대한 여론을보면 싸늘하게 느껴지네요</p>
                                <div class="commt_ctr" data-acd="1660059" data-cno="2052044">
                                    <button class="reply" data-num="0">답글</button>
                                    <button class="bad" data-num="0"></button>
                                    <button class="good" data-num="0"></button>
                                </div>
                                <div class="commt_reply" data-acd="1660059" data-cno="2052044"></div>
                            </div>
                        </div>
                    </div>

                    <style>
                        .fb_comments_main div.fb-like span iframe {
                            width: 138px !important;
                        }

                        .fb_comments_main div.fb-like {
                            float: right;
                            width: 138px;
                            overflow: hidden;
                            margin-top: 7px;
                        }
                    </style>


                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>