<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.gamemeca.com/g17/images/icon/gamemeca_16x16.ico" rel="shortcut icon">
    <link rel="apple-touch-icon-precomposed" href="https://cdn.gamemeca.com/g17/images/icon/gamemeca_120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="180x180"
          href="https://cdn.gamemeca.com/g17/images/icon/gamemeca_180x180.png">
    <title>3D클라우드 - 게임메카</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="title" content="3D클라우드 - 게임메카">
    <meta name="description" content="개발사, 유통사, 퍼블리셔 등 다양한 분야에서 게임업계를 이끌어 나가는 게임사 정보를 제공합니다.">
    <meta name="keywords" content="3D클라우드 - 게임메카">
    <meta name="news_keywords" content="3D클라우드 - 게임메카">
    <meta name="subject" content="3D클라우드 - 게임메카">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@game_meca">
    <meta name="twitter:creator" content="@game_meca">
    <meta name="twitter:image" content="https://cdn.gamemeca.com/g17/images/common/meca_logo_sns.gif">
    <meta name="twitter:title" content="3D클라우드 - 게임메카">
    <meta name="twitter:description" content="개발사, 유통사, 퍼블리셔 등 다양한 분야에서 게임업계를 이끌어 나가는 게임사 정보를 제공합니다.">
    <meta property="og:url" content="https://www.gamemeca.com/game.php?rts=company&amp;gmcid=2115">
    <meta property="og:title" content="3D클라우드 - 게임메카">
    <meta property="og:description" content="개발사, 유통사, 퍼블리셔 등 다양한 분야에서 게임업계를 이끌어 나가는 게임사 정보를 제공합니다.">
    <meta property="og:image" content="https://cdn.gamemeca.com/g17/images/common/meca_logo_sns.gif">
    <meta property="og:image:width" content="800">
    <meta property="og:image:height" content="480">
    <meta property="og:type" content="article">
    <meta property="og:article:author" content="게임메카">
    <meta property="og:locale" content="ko_KR">
    <meta property="kakao:title" content="3D클라우드 - 게임메카">
    <meta property="kakao:description" content="개발사, 유통사, 퍼블리셔 등 다양한 분야에서 게임업계를 이끌어 나가는 게임사 정보를 제공합니다.">
    <meta name="resource-type" content="article">
    <meta name="image" content="https://cdn.gamemeca.com/g17/images/common/meca_logo_sns.gif">
    <link rel="image_src" href="https://cdn.gamemeca.com/g17/images/common/meca_logo_sns.gif">
    <link rel="canonical" href="https://www.gamemeca.com/game.php?rts=company&amp;gmcid=2115">
    <link rel="alternate" media="only screen and (max-width: 640px)"
          href="https://m.gamemeca.com/game.php?rts=company&amp;gmcid=2115">
    <link rel="stylesheet" type="text/css" href="https://cdn.gamemeca.com/g17/css/common.css?v=21051913">
    <th:block th:include="common/base"></th:block>
    <script layout:fragment="script" type="text/javascript" th:src="@{/assets/js/gm/gm002/gm002-01.js}"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.gamemeca.com/g17/css/gameinfo.css?v=21051913?v=21051913">
    <!-- Global site tag (gtag.js) - Google Analytics -->
</head>
<body>
</div>
<th:block th:include="fragments/header"></th:block>
<div id="main">
    <input type="hidden" th:value="${gameCompanyCid}" th:attr="id='gameCompanyCid'"/>
    <th:block th:include="common/aside"></th:block>
    <div id="content">
        <div class="content-top-ad">
            <script type="text/javascript"
                    src="https://ads.gamemeca.com/adver/js/?tag=gamemeca/gameinfo/gameinfo_big"></script>
            <div id="meca_ads_31">
                <iframe src="https://ads.gamemeca.com/adver/html/?id=31" width="1041" height="80" scrolling="no"
                        style="margin: 0; padding: 0; border: none;"></iframe>
            </div>
        </div>
        <div class="content-left">
            <div class="company_area">
                <div class="comp_title" data-ax-path="gameCompanyName"></div>
                <div class="topViewBox">
                    <dl>
                        <dd class="leftThum"><img src=""
                                                  width="268" height="181" data-ax-path="gameCompanyImg"></dd>
                        <dd class="centerCont">
                            <p>
                                <span class="leftA">업체명</span>
                                <span class="rightA" data-ax-path="gameCompanyName">-</span>
                            </p>
                            <p>
                                <span class="leftA">대표전화</span>
                                <span class="rightA" data-ax-path="gameCompanyTel">-</span>
                            </p>
                            <p>
                                <span class="leftA">주소</span>
                                <span class="rightA" data-ax-path="gameCompanyAddr">-</span>
                            </p>
                            <p>
                                <span class="leftA">대표사이트</span>
                                <span class="rightA">
<a href="https://www.3dclouds.it/" target="_blank" data-ax-path="gameCompanySite">-</a>					</span>
                            </p>
                        </dd>
                    </dl>
                </div>
                <div class="gadatabtn">
                    <a href="/g-report.php?gmcid=2115" class="btncompmodi">업체정보 수정요청</a>
                </div>
            </div>

            <div class="comline"></div>

            <!-- gm_dev -->
            <div class="com-dev-intro-box">
                <div class="dev-title h2">
                    <ins class="gmview-tab-guide-total"></ins>
                    총 <span id="makeGameCnt"></span>개의 개발된 게임이 있습니다.
                </div>
            </div>
            <div class="company-thumb-area" id="GameListDiv_1">
                <ul class="com_gallery" id="ulGame_1" style="display: none;">
                    <li style="display: none" id="liCmpy_1">
                        <input type="hidden" data-ax-path="gameId"/>
                        <a class="static-thumbnail" href="#" target="_blank" >
                            <span class="static-thumbnail-style"></span>
                            <img src="" data-ax-path="img">
                        </a>
                        <span class="tit_name" data-ax-path="gameName"></span>
                        <div class="webg_txt">플렛폼: <span class="green" data-ax-path="platform">-</span></div>
                        <div class="webg_txt">장르: <span class="green" data-ax-path="genre">-</span></div>
                        <div class="webg_txt">서비스상태: <span class="green" data-ax-path="serviceStatus">-</span></div>
                    </li>
                </ul>
            </div>
        <!--// gm_dev -->


        <!-- gm_pub -->
            <div class="com-dev-intro-box">
                <div class="dev-title h2">
                    <ins class="gmview-tab-guide-total"></ins>
                    총 <span id="serviceGameCnt"></span>개의 서비스 중 인 게임이 있습니다.
                </div>
            </div>

            <div class="company-thumb-area"  id="GameListDiv_2">
                <ul class="com_gallery" id="ulGame_2" style="display: none;">
                    <li style="display: none" id="liCmpy_2">
                        <input type="hidden" data-ax-path="gameId"/>
                        <a class="static-thumbnail" href="#" target="_blank" >
                            <span class="static-thumbnail-style"></span>
                            <img src="" data-ax-path="img">
                        </a>
                        <span class="tit_name" data-ax-path="gameName">-</span>
                        <div class="webg_txt">플렛폼: <span class="green" data-ax-path="platform">-</span></div>
                        <div class="webg_txt">장르: <span class="green" data-ax-path="genre">-</span></div>
                        <div class="webg_txt">서비스상태: <span class="green" data-ax-path="serviceStatus">-</span></div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- right section -->
        <div class="content-right">
            <div class="gmview-section-right">
                <div class="section-right">
                    <!--특별페이지 / 메카 파워진 금~월-->
                    <!--//특별페이지-->
                    <!--많이본 뉴스-->
                    <div class="rank_wrap">
                        <div class="tab_enter">
                            <a class="link_tab " onclick="return false;">많이본 뉴스</a>
                            <a class="link_tab on" onclick="return false;">SNS 화제</a>
                        </div>
                        <div class="rank_list">
                            <ul data-ranking="1" style="display:none;">
                                <li><a href="/view.php?gid=1660059"><span class="rank_num num1"></span>메이플스토리, 2년 간 사용한
                                    큐브 추가 보상안 공개</a></li>
                                <li><a href="/view.php?gid=1659912"><span class="rank_num num2"></span>닌텐도 스위치에 1만
                                    1,300원짜리 '계산기' 앱이 나왔다</a></li>
                                <li><a href="/view.php?gid=1659884"><span class="rank_num num3"></span>니어 첫 모바일게임, 니어
                                    리인카네이션 사전예약 시작</a></li>
                                <li><a href="/view.php?gid=1659963"><span class="rank_num num4"></span>엔씨소프트 "트릭스터M은 과금도
                                    귀엽다"</a></li>
                                <li><a href="/view.php?gid=1660062"><span class="rank_num num5"></span>군생활 담은 쯔꾸르 게임
                                    ‘전역은 오는가’ 스팀 출시</a></li>
                                <li><a href="/view.php?gid=1660005"><span class="rank_num num6"></span>인텔, 게임 그래픽을 실사처럼
                                    바꿔주는 AI 기술 공개</a></li>
                                <li><a href="/view.php?gid=1660081"><span class="rank_num num7"></span>네이버웹툰 '묘조의 일지' 기반
                                    모바일게임, 정식서비스 시작</a></li>
                                <li><a href="/view.php?gid=1659852"><span class="rank_num num8"></span>쿠킹덤 흥행, 데브시스터즈 월급
                                    400% 인센티브 지급</a></li>
                                <li><a href="/view.php?gid=1659960"><span class="rank_num num9"></span>동숲 감성 똑 닮은 ‘호코
                                    라이프’ 6월 2일 스팀에 출시</a></li>
                                <li><a href="/view.php?gid=1659885"><span class="rank_num num10"></span>라쳇&amp;클랭크 리프트
                                    어파트 'PS5 성능 제대로 살렸다'</a></li>
                            </ul>
                            <ul data-ranking="2" style="display:block;">
                                <li><a href="/view.php?gid=1659912"><span class="rank_num num1"></span>닌텐도 스위치에 1만
                                    1,300원짜리 '계산기' 앱이 나왔다</a></li>
                                <li><a href="/view.php?gid=1659852"><span class="rank_num num2"></span>쿠킹덤 흥행, 데브시스터즈 월급
                                    400% 인센티브 지급</a></li>
                                <li><a href="/view.php?gid=1660081"><span class="rank_num num3"></span>네이버웹툰 '묘조의 일지' 기반
                                    모바일게임, 정식서비스 시작</a></li>
                                <li><a href="/view.php?gid=1659884"><span class="rank_num num4"></span>니어 첫 모바일게임, 니어
                                    리인카네이션 사전예약 시작</a></li>
                                <li><a href="/view.php?gid=1660076"><span class="rank_num num5"></span>'하이큐!!' 신작 모바일게임
                                    발표, 본격 배구+스토리 담는다</a></li>
                                <li><a href="/view.php?gid=1660062"><span class="rank_num num6"></span>군생활 담은 쯔꾸르 게임
                                    ‘전역은 오는가’ 스팀 출시</a></li>
                                <li><a href="/view.php?gid=1659861"><span class="rank_num num7"></span>동북공정 차단, 게임위에 역사
                                    전문가 추가하는 법안 나왔다</a></li>
                                <li><a href="/view.php?gid=1660005"><span class="rank_num num8"></span>인텔, 게임 그래픽을 실사처럼
                                    바꿔주는 AI 기술 공개</a></li>
                                <li><a href="/view.php?gid=1660060"><span class="rank_num num9"></span>10년 스토리 대단원, 파판
                                    14 효월의 종언 11월 출시</a></li>
                                <li><a href="/view.php?gid=1659963"><span class="rank_num num10"></span>엔씨소프트 "트릭스터M은
                                    과금도 귀엽다"</a></li>
                            </ul>
                        </div>
                    </div>
                    <script>
                        jQuery(function () {

                            jQuery(".link_tab").on('mouseover', function () {
                                jQuery(".link_tab").removeClass("on");
                                jQuery(this).addClass("on");
                                var index = jQuery(this).index();
                                jQuery('.rank_list > ul').css("display", "none");
                                jQuery('.rank_list > ul').eq(index).css("display", "block");

                            });
                        });


                    </script>    <!--//많이본 뉴스-->
                    <div class="right_ad">
                        <script type="text/javascript"
                                src="https://ads.gamemeca.com/adver/js/?tag=gamemeca/gameinfo/gameinfo_ss"></script>
                        <div id="meca_ads_32">
                            <iframe src="https://ads.gamemeca.com/adver/html/?id=32" width="260" height="277"
                                    scrolling="no" style="margin: 0; padding: 0; border: none;"></iframe>
                        </div>
                    </div>
                    <!--이벤트-->
                    <style>
                        .event-right {
                            height: 380px;
                            border-top: 4px solid #e7e5e9;
                            padding-top: 25px;
                            margin-bottom: 25px;
                            display: block;
                            overflow: hidden;
                        }
                    </style>
                    <div class="event-right">
                        <span class="magazine-title"><a href="/event.php">이벤트</a></span>
                        <button class="erarrowR sliderActionE"></button>
                        <button class="erarrowL sliderActionE"></button>
                        <div id="sliderBox2">
                            <div class="event-loc-slider" style="width:1300px;">
                                <dl>
                                    <dd>
                                        <a href="/event.php?rts=auction&amp;seq=1016"><img
                                                src="https://cdn.gamemeca.com/gmevent/000/010/16/gm800546_ev_list_banner.jpg"></a>
                                    </dd>
                                </dl>
                                <dl>
                                    <dd>
                                        <a href="https://twitter.com/game_meca/status/1394095748053012481"
                                           target="_blank"><img
                                                src="https://cdn.gamemeca.com/gmevent/000/010/17/gm466478_ev_list_banner.jpg"></a>
                                    </dd>
                                </dl>
                                <dl>
                                    <dd>
                                        <a href="https://www.facebook.com/gamemeca/" target="_blank"><img
                                                src="https://cdn.gamemeca.com/gmevent/000/010/18/gm430324_ev_list_banner.jpg"></a>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        /* for slider var */
                        var $sliderQueE = 0;
                        var $fullSizeIndexE = 0;
                        var $silderSizeE = 260;
                        jQuery(document).ready(function () {
                            $fullSizeIndexE = jQuery("div.event-loc-slider > dl").length - 1;

                            /* siwpeAction btn */
                            jQuery('button.sliderActionE').on('click', function () {
                                if (jQuery(this).hasClass("erarrowL")) {
                                    if ($sliderQueE > 0) $sliderQueE -= 1;
                                    else $sliderQueE = $fullSizeIndexE;
                                }
                                if (jQuery(this).hasClass("erarrowR")) {
                                    if ($sliderQueE < $fullSizeIndexE) $sliderQueE += 1;
                                    else $sliderQueE = 0;
                                }
                                setAnimateE();
                                return false;
                            });

                            /* setting animated */
                            function setAnimateE() {
                                var left = -($sliderQueE * $silderSizeE);
                                jQuery("div.event-loc-slider").animate({"left": left}, "slow");
                            }

                        });
                    </script>
                    <!--//이벤트-->
                    <!--게임잡지-->
                    <div class="magazine_r">
                        <span class="magazine-title"><a href="/magazine/?mgz=cartoon" target="_blank">만평동산</a></span>
                        <button class="rkarrowR sliderActionM"></button>
                        <button class="rkarrowL sliderActionM"></button>
                        <div id="sliderBox2">
                            <div class="app-loc-slider" style="width:1300px;">
                                <dl>
                                    <dd>
                                        <a href="/magazine/index.php?mgz=cartoon&amp;ym=2018-2020" target="_blank">
                                            <img src="/magazine/file.php?title=cartoon&amp;ym=2018-2020"
                                                 style="width: 190px; height: 255px;">
                                        </a>
                                    </dd>
                                    <dl class="grayBox"><span class="ztxt">2018~2020</span></dl>
                                </dl>
                                <dl>
                                    <dd>
                                        <a href="/magazine/index.php?mgz=cartoon&amp;ym=2015-2017" target="_blank">
                                            <img src="/magazine/file.php?title=cartoon&amp;ym=2015-2017"
                                                 style="width: 190px; height: 255px;">
                                        </a>
                                    </dd>
                                    <dl class="grayBox"><span class="ztxt">2015~2017</span></dl>
                                </dl>
                                <dl>
                                    <dd>
                                        <a href="/magazine/index.php?mgz=cartoon&amp;ym=2011-2014" target="_blank">
                                            <img src="/magazine/file.php?title=cartoon&amp;ym=2011-2014"
                                                 style="width: 190px; height: 255px;">
                                        </a>
                                    </dd>
                                    <dl class="grayBox"><span class="ztxt">2011~2014</span></dl>
                                </dl>
                                <dl>
                                    <dd>
                                        <a href="/magazine/index.php?mgz=cartoon&amp;ym=2006-2010" target="_blank">
                                            <img src="/magazine/file.php?title=cartoon&amp;ym=2006-2010"
                                                 style="width: 190px; height: 255px;">
                                        </a>
                                    </dd>
                                    <dl class="grayBox"><span class="ztxt">2006~2010</span></dl>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        /* for slider var */
                        var $sliderQueM = 0;
                        var $fullSizeIndexM = 0;
                        var $silderSizeM = 260;
                        jQuery(document).ready(function () {
                            $fullSizeIndexM = jQuery("div.app-loc-slider > dl").length - 1;

                            /* siwpeAction btn */
                            jQuery('button.sliderActionM').on('click', function () {
                                if (jQuery(this).hasClass("rkarrowL")) {
                                    if ($sliderQueM > 0) $sliderQueM -= 1;
                                    else $sliderQueM = $fullSizeIndexM;
                                }
                                if (jQuery(this).hasClass("rkarrowR")) {
                                    if ($sliderQueM < $fullSizeIndexM) $sliderQueM += 1;
                                    else $sliderQueM = 0;
                                }
                                setAnimateM();
                                return false;
                            });

                            /* setting animated */
                            function setAnimateM() {
                                var left = -($sliderQueM * $silderSizeM);
                                jQuery("div.app-loc-slider").animate({"left": left}, "slow");
                            }
                        });
                    </script>    <!--//게임잡지-->
                    <!--일정-->

                    <div class="game-schedule">
                        <div class="title">게임일정<span class="caico"></span></div>

                        <div class="gameCal">
                            <div>
                                <div class="date">
                                    <div><span class="year">2021</span>년</div>
                                    <div><span class="month">05</span>월</div>
                                    <div>
                                        <button class="scheduleIcoarrowL" data-ym="2021-04"></button>
                                        <button class="scheduleIcoarrowR" data-ym="2021-06"></button>
                                    </div>
                                </div>
                                <div class="calender">
                                    <!--달력-->
                                    <table border="0" cellspacing="0" class="calender-table">
                                        <caption></caption>
                                        <colgroup>
                                            <col width="25px">
                                            <col width="25px">
                                            <col width="25px">
                                            <col width="25px">
                                            <col width="25px">
                                            <col width="25px">
                                            <col width="25px">
                                        </colgroup>
                                        <thead>
                                        <tr>
                                            <th scope="col">일</th>
                                            <th scope="col">월</th>
                                            <th scope="col">화</th>
                                            <th scope="col">수</th>
                                            <th scope="col">목</th>
                                            <th scope="col">금</th>
                                            <th scope="col">토</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="sun"><a href="/game.php?rts=schedule&amp;ym=202105"></a></td>
                                            <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105"></a></td>
                                            <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105"></a></td>
                                            <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105"></a></td>
                                            <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105"></a></td>
                                            <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105"></a></td>
                                            <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">1</a></td>
                                        </tr>
                                        <tr>
                                            <td class="sun"><a href="/game.php?rts=schedule&amp;ym=202105">2</a></td>
                                            <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">3</a></td>
                                            <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">4</a></td>
                                            <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">5</a></td>
                                            <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">6</a></td>
                                            <td class="day selected"><a
                                                    href="/game.php?rts=schedule&amp;ym=202105">7</a></td>
                                            <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">8</a></td>
                                        </tr>
                                        <tr>
                                            <td class="sun"><a href="/game.php?rts=schedule&amp;ym=202105">9</a></td>
                                            <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">10</a></td>
                                            <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">11</a></td>
                                            <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">12</a></td>
                                            <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">13</a></td>
                                            <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">14</a></td>
                                            <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">15</a></td>
                                        </tr>
                                        <tr>
                                            <td class="sun"><a href="/game.php?rts=schedule&amp;ym=202105">16</a></td>
                                            <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">17</a></td>
                                            <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">18</a></td>
                                            <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">19</a></td>
                                            <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">20</a></td>
                                            <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">21</a></td>
                                            <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">22</a></td>
                                        </tr>
                                        <tr>
                                            <td class="sun"><a href="/game.php?rts=schedule&amp;ym=202105">23</a></td>
                                            <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">24</a></td>
                                            <td class="day selected"><a
                                                    href="/game.php?rts=schedule&amp;ym=202105">25</a></td>
                                            <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">26</a></td>
                                            <td class="day selected"><a
                                                    href="/game.php?rts=schedule&amp;ym=202105">27</a></td>
                                            <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">28</a></td>
                                            <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">29</a></td>
                                        </tr>
                                        <tr>
                                            <td class="sun"><a href="/game.php?rts=schedule&amp;ym=202105">30</a></td>
                                            <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">31</a></td>
                                            <td class="nextMonth"><a href="/game.php?rts=schedule&amp;ym=202105">1</a>
                                            </td>
                                            <td class="nextMonth"><a href="/game.php?rts=schedule&amp;ym=202105">2</a>
                                            </td>
                                            <td class="nextMonth"><a href="/game.php?rts=schedule&amp;ym=202105">3</a>
                                            </td>
                                            <td class="nextMonth"><a href="/game.php?rts=schedule&amp;ym=202105">4</a>
                                            </td>
                                            <td class="nextMonth"><a href="/game.php?rts=schedule&amp;ym=202105">5</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!--//달력-->

                                    <div class="calLayer" style="display: none;z-index:1;"></div>
                                </div>
                            </div>
                            <div class="btmAllDate">
                                <a href="/g-report.php" class="schedule-contact">게임일정등록</a>
                                <a href="/game.php?rts=schedule" class="schedule-view">일정전체보기</a>
                            </div>
                        </div>

                    </div>
                    <script>
                        jQuery(function () {

                            function loadData(ym) {
                                var params = {'json': 'schedule'};
                                if (ym) params.ym = ym;
                                jQuery.getJSON('/17/json.php', params, function (rs) {
                                    printSchedule(rs);
                                });
                            }

                            function printSchedule(rs) {
                                var tbody = jQuery('.calender-table tbody');
                                tbody.empty();
                                var tr = [];
                                var trCnt = 0;

                                jQuery('.date div span.year').text(rs.info.year);
                                jQuery('.date div span.month').text(rs.info.month);
                                jQuery('.scheduleIcoarrowL').attr('data-ym', rs.info.prev);
                                jQuery('.scheduleIcoarrowR').attr('data-ym', rs.info.next);

                                jQuery.each(rs.data, function (i, v) {
                                    var td = jQuery('<td>');
                                    if (i % 7 == 0) {
                                        if (i != 0) trCnt += 1;
                                        tr[trCnt] = jQuery('<tr>');
                                        td.addClass('sun');
                                    }
                                    if (v.nday) {
                                        v.day = v.nday;
                                        td.addClass('nextMonth');
                                    } else {
                                        if (!td.hasClass('sun'))
                                            td.addClass('day');
                                    }

                                    if (v.row == 'on') {
                                        td.addClass('selected');
                                        td.data(v.rows);
                                    }
                                    td.append(jQuery('<a>').text(v.day).attr('href', '/game.php?rts=schedule&ym=' + rs.info.ym));
                                    tr[trCnt].append(td);
                                });
                                jQuery.each(tr, function (i, v) {
                                    tbody.append(v);
                                });
                            }

                            loadData();

                            jQuery('.calender-table tbody').on('mouseover', 'td.selected', function () {
                                var rows = jQuery(this).data();
                                jQuery('.calLayer').empty();
                                jQuery.each(rows, function (i, v) {
                                    var layerCalender = jQuery('<a>');
                                    if (v.gm_status == 25) layerCalender.append(jQuery('<ins class="blue"></ins>'));
                                    else if (v.gm_status == 31) layerCalender.append(jQuery('<ins class="red"></ins>'));
                                    else layerCalender.append(jQuery('<ins class="black"></ins>'));

                                    layerCalender.append(v.title);

                                    jQuery('.calLayer').append(layerCalender);
                                });
                                jQuery('div.calLayer').show().css('top', (jQuery(this).offsetParent().prevObject["0"].offsetTop + 22));
                            });

                            jQuery('.game-schedule').on('mouseleave', '.gameCal', function () {
                                jQuery('div.calLayer').hide();
                            });

                            jQuery('.scheduleIcoarrowL, .scheduleIcoarrowR').on('click', function () {
                                console.log(jQuery(this).attr('data-ym'));
                                loadData(jQuery(this).attr('data-ym'));
                            });


                        });

                    </script>
                    <!--//일정-->
                    <!-- 인기 게임 순위 -->

                    <div class="ranking">
                        <div class="title">인기게임순위</div>
                        <div class="ranking-left">
                            <div class="list">
                                <ul>
                                    <li>
                                        <span class="rknum1">1</span><span class="icork"></span><span
                                            class="iconum"></span><span class="icogam"><img
                                            src="https://cdn.gamemeca.com/gmdb/g000/26/18/199120.jpg" width="16"
                                            height="16"> <a href="/game.php?rts=gmview&amp;gmid=g0002618">리그 오브 레전드</a></span>
                                    </li>
                                    <li>
                                        <span class="rknum1">2</span><span class="icork"></span><span
                                            class="iconum"></span><span class="icogam"><img
                                            src="https://cdn.gamemeca.com/gmdb/g000/88/08/221151.jpg" width="16"
                                            height="16"> <a href="/game.php?rts=gmview&amp;gmid=g0008808">플레이어언노운스 배틀그라운드</a></span>
                                    </li>
                                    <li>
                                        <span class="rknum1">3</span><span class="icork"></span><span
                                            class="iconum"></span><span class="icogam"><img
                                            src="https://cdn.gamemeca.com/gmdb/g000/72/97/221151.jpg" width="16"
                                            height="16"> <a
                                            href="/game.php?rts=gmview&amp;gmid=g0007297">로스트아크</a></span>
                                    </li>
                                    <li>
                                        <span class="rknum2">4</span><span class="icork"></span><span
                                            class="iconum"></span><span class="icogam"><img
                                            src="https://cdn.gamemeca.com/gmdb/g000/18/23/199120.jpg" width="16"
                                            height="16"> <a
                                            href="/game.php?rts=gmview&amp;gmid=g0001823">서든어택</a></span>
                                    </li>
                                    <li>
                                        <span class="rknum2">5</span><span class="icork1"></span><span
                                            class="iconum">1</span><span class="icogam"><img
                                            src="https://cdn.gamemeca.com/gmdb/g000/72/94/199120.jpg" width="16"
                                            height="16"> <a
                                            href="/game.php?rts=gmview&amp;gmid=g0007294">오버워치</a></span>
                                    </li>
                                    <li>
                                        <span class="rknum2">6</span><span class="icork2"></span><span
                                            class="iconum">1</span><span class="icogam"><img
                                            src="https://cdn.gamemeca.com/gmdb/g000/96/37/692068_221151.jpg" width="16"
                                            height="16"> <a
                                            href="/game.php?rts=gmview&amp;gmid=g0009637">피파 온라인 4</a></span>
                                    </li>
                                    <li>
                                        <span class="rknum2">7</span><span class="icork"></span><span
                                            class="iconum"></span><span class="icogam"><img
                                            src="https://cdn.gamemeca.com/gmdb/g001/17/93/538821_200302-risell-uu5.jpg"
                                            width="16" height="16"> <a href="/game.php?rts=gmview&amp;gmid=g0011793">발로란트</a></span>
                                    </li>
                                    <li>
                                        <span class="rknum2">8</span><span class="icork"></span><span
                                            class="iconum"></span><span class="icogam"><img
                                            src="https://cdn.gamemeca.com/gmdb/g000/42/53/199120.jpg" width="16"
                                            height="16"> <a href="/game.php?rts=gmview&amp;gmid=g0004253">아이온: 영원의 탑</a></span>
                                    </li>
                                    <li>
                                        <span class="rknum2">9</span><span class="icork"></span><span
                                            class="iconum"></span><span class="icogam"><img
                                            src="https://cdn.gamemeca.com/gmdb/g000/10/53/221151(0).jpg" width="16"
                                            height="16"> <a
                                            href="/game.php?rts=gmview&amp;gmid=g0001053">메이플스토리</a></span>
                                    </li>
                                    <li>
                                        <span class="rknum2">10</span><span class="icork"></span><span
                                            class="iconum"></span><span class="icogam"><img
                                            src="https://cdn.gamemeca.com/gmdb/g000/04/35/199120(0).jpg" width="16"
                                            height="16"> <a
                                            href="/game.php?rts=gmview&amp;gmid=g0000435">스타크래프트</a></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="pollbtn">
                            <a class="pollrank" href="/ranking.php?rid=2106"></a>
                            <a class="addpoll" href="/ranking.php"></a>
                        </div>
                    </div>    <!-- //인기 게임 순위 -->
                    <div class="right_ad2">
                        <script type="text/javascript"
                                src="https://ads.gamemeca.com/adver/js/?tag=gamemeca/gameinfo/gameinfo_box"></script>
                        <div id="meca_ads_33">
                            <iframe src="https://ads.gamemeca.com/adver/html/?id=33" width="260" height="185"
                                    scrolling="no" style="margin: 0; padding: 0; border: none;"></iframe>
                        </div>
                    </div>
                    <script type="text/javascript" src="//ad.xc.netinsight.co.kr/xc/j/HSUDDM8V/x/fst"></script>
                    <script async="async" type="text/javascript"
                            src="https://static.criteo.net/js/ld/publishertag.js"></script>
                    <div id="criteo_slot_3531">
                        <iframe id="criteo_slot_3531_iframe" frameborder="0" allowtransparency="true" hspace="0"
                                marginwidth="0" marginheight="0" scrolling="no" vspace="0" width="250"
                                height="250"></iframe>
                    </div>

                </div>
            </div>
        </div>
        <!--// right section -->            </div>
</div>

<th:block th:include="fragments/footer"></th:block>

</body>
</html>