<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<html lang="ko-KR">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.gamemeca.com/g17/images/icon/gamemeca_16x16.ico" rel="shortcut icon">
    <link rel="apple-touch-icon-precomposed" href="https://cdn.gamemeca.com/g17/images/icon/gamemeca_120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="180x180"
          href="https://cdn.gamemeca.com/g17/images/icon/gamemeca_180x180.png">
    <title>업체정보 - 게임메카</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="title" content="업체정보 - 게임메카">
    <meta name="description" content="개발사, 유통사, 퍼블리셔 등 다양한 분야에서 게임업계를 이끌어 나가는 게임사 정보를 제공합니다.">
    <meta name="keywords" content="업체정보 - 게임메카">
    <meta name="news_keywords" content="업체정보 - 게임메카">
    <meta name="subject" content="업체정보 - 게임메카">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@game_meca">
    <meta name="twitter:creator" content="@game_meca">
    <meta name="twitter:image" content="https://cdn.gamemeca.com/g17/images/common/meca_logo_sns.gif">
    <meta name="twitter:title" content="업체정보 - 게임메카">
    <meta name="twitter:description" content="개발사, 유통사, 퍼블리셔 등 다양한 분야에서 게임업계를 이끌어 나가는 게임사 정보를 제공합니다.">

    <meta property="og:url" content="https://www.gamemeca.com/game.php?rts=company">
    <meta property="og:title" content="업체정보 - 게임메카">
    <meta property="og:description" content="개발사, 유통사, 퍼블리셔 등 다양한 분야에서 게임업계를 이끌어 나가는 게임사 정보를 제공합니다.">
    <meta property="og:image" content="https://cdn.gamemeca.com/g17/images/common/meca_logo_sns.gif">
    <meta property="og:image:width" content="800">
    <meta property="og:image:height" content="480">
    <meta property="og:type" content="article">
    <meta property="og:article:author" content="게임메카">
    <meta property="og:locale" content="ko_KR">


    <meta property="kakao:title" content="업체정보 - 게임메카">
    <meta property="kakao:description" content="개발사, 유통사, 퍼블리셔 등 다양한 분야에서 게임업계를 이끌어 나가는 게임사 정보를 제공합니다.">
    <meta name="resource-type" content="article">
    <meta name="image" content="https://cdn.gamemeca.com/g17/images/common/meca_logo_sns.gif">
    <link rel="image_src" href="https://cdn.gamemeca.com/g17/images/common/meca_logo_sns.gif">

    <link rel="canonical" href="https://www.gamemeca.com/game.php?rts=company">
    <link rel="alternate" media="only screen and (max-width: 640px)" href="https://m.gamemeca.com/game.php?rts=company">


    <link rel="stylesheet" type="text/css" href="https://cdn.gamemeca.com/g17/css/common.css?v=21051814">
    <script src="https://www.googletagservices.com/activeview/js/current/osd.js"></script>
    <script src="https://partner.googleadservices.com/gampad/cookie.js?domain=www.gamemeca.com&amp;callback=_gfp_s_&amp;client=ca-pub-2639901077908883&amp;cookie=ID%3D8074a0501fd65e83-22c4646cd4c70047%3AT%3D1620346922%3ART%3D1620346922%3AS%3DALNI_MbmouJTq7I9Jw0230NAMARflbAF5g"></script>
    <script src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script async="" src="//www.google-analytics.com/analytics.js"></script>
    <script src="https://pagead2.googlesyndication.com/pagead/js/r20210511/r20190131/show_ads_impl_fy2019.js"
            id="google_shimpl"></script>
    <th:block th:include="common/base"></th:block>
    <script layout:fragment="script" type="text/javascript" th:src="@{/assets/js/gm/gm002/gm002.js}"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.gamemeca.com/g17/css/gameinfo.css?v=21051814?v=21051814">
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-161YMYELG0"></script>

    <script charset="utf-8" src="https://platform.twitter.com/js/button.5573c974dc31bbdab5ea7923a0bd5cf3.js"></script>
    <link rel="preload" href="https://adservice.google.co.kr/adsid/integrator.js?domain=www.gamemeca.com" as="script">
    <script type="text/javascript"
            src="https://adservice.google.co.kr/adsid/integrator.js?domain=www.gamemeca.com"></script>
    <link rel="preload" href="https://adservice.google.com/adsid/integrator.js?domain=www.gamemeca.com" as="script">
    <script type="text/javascript"
            src="https://adservice.google.com/adsid/integrator.js?domain=www.gamemeca.com"></script>
</head>
<body>
<th:block th:include="fragments/header"></th:block>
<div id="main">
    <th:block th:include="common/aside"></th:block>
    <div id="content">
        <div class="content-top-ad">
            <script type="text/javascript"
                    src="https://ads.gamemeca.com/adver/js/?tag=gamemeca/gameinfo/gameinfo_big"></script>
            <div id="meca_ads_31">
                <iframe src="https://ads.gamemeca.com/adver/html/?id=31" width="1041" height="80" scrolling="no"
                        style="margin: 0; padding: 0; border: none;"></iframe>
            </div>
        </div>
        <div class="content-left">
            <div class="dblist_st">
                <div class="leftArea">
                    <div class="dbnum h2 mRight">
                        <ins class="gmview-tab-guide-total"></ins>
                        총 <span data-ax-path="companyCnt"></span>개의 업체정보가 있습니다.
                    </div>
                    <div class="searchBox">
                        <input type="text" id="com_q" placeholder="업체검색">
                        <a class="searchBtn" id="com_search"></a>
                    </div>
                </div>
                <div class="rightArea">
                    <!--tab-->
                    <div class="tab-type">
                        <ul class="tab-order-state">
                            <li class="tab-li-new">
                                <a class="company-order-state on"  id="cn_1"><!--최신순--></a></li>
                            <li><img src="https://cdn.gamemeca.com/design/images/news/tab_line.gif"></li>
                            <li class="tab-li-name">
                                <a class="company-order-state" id="cn_2"><!--가나다순--></a></li>
                        </ul>
                    </div>
                    <!--//tab-->
                </div>
            </div>
            <form action="/gm/gm002/gm002-01" id="gameCompanyForm" method="post">
                <div class="company-list">
                    <ul class="list_gallery" id="ulCmpy_1" style="display: none;">
                        <li style="display: none" id="liCmpy_1">
                            <input type="hidden" data-ax-path="gameCompanyCid"/>
                            <a href="#" class="static-thumbnail" >
                                <span class="static-thumbnail-style"></span>
                                <img src="" data-ax-path="gameCompanyImg" >
                            </a>
                            <span class="tit_name" data-ax-path="gameCompanyName" ></span>
                            <div class="webg_txt">개발게임: <span class="green" data-ax-path="gameMakeCnt"></span></div>
                            <div class="webg_txt">서비스게임: <span class="green" data-ax-path="gameServiceCnt"></span></div>
                        </li>
                    </ul>
                </div>
            </form>
            <!-- paging -->
            <div id="list-page-nav" class="pagingNav" ></div>
            </div>
            <!-- right section -->
            <div class="content-right">
                <div class="gmview-section-right">
                    <div class="section-right">
                        <!--특별페이지 / 메카 파워진 금~월-->
                        <!--//특별페이지-->
                        <!--많이본 뉴스-->
                        <div class="rank_wrap">
                            <div class="tab_enter">
                                <a class="link_tab on" onclick="return false;">많이본 뉴스</a>
                                <a class="link_tab" onclick="return false;">SNS 화제</a>
                            </div>
                            <div class="rank_list">
                                <ul data-ranking="1" style="display: block;">
                                    <li><a href="/view.php?gid=1660059"><span class="rank_num num1"></span>메이플스토리, 2년 간 사용한
                                        큐브 추가 보상안 공개</a></li>
                                    <li><a href="/view.php?gid=1659912"><span class="rank_num num2"></span>닌텐도 스위치에 1만
                                        1,300원짜리 '계산기' 앱이 나왔다</a></li>
                                    <li><a href="/view.php?gid=1659884"><span class="rank_num num3"></span>니어 첫 모바일게임, 니어
                                        리인카네이션 사전예약 시작</a></li>
                                    <li><a href="/view.php?gid=1660062"><span class="rank_num num4"></span>군생활 담은 쯔꾸르 게임
                                        ‘전역은 오는가’ 스팀 출시</a></li>
                                    <li><a href="/view.php?gid=1660005"><span class="rank_num num5"></span>인텔, 게임 그래픽을 실사처럼
                                        바꿔주는 AI 기술 공개</a></li>
                                    <li><a href="/view.php?gid=1659963"><span class="rank_num num6"></span>엔씨소프트 "트릭스터M은 과금도
                                        귀엽다"</a></li>
                                    <li><a href="/view.php?gid=1660081"><span class="rank_num num7"></span>네이버웹툰 '묘조의 일지' 기반
                                        모바일게임, 정식서비스 시작</a></li>
                                    <li><a href="/view.php?gid=1659852"><span class="rank_num num8"></span>쿠킹덤 흥행, 데브시스터즈 월급
                                        400% 인센티브 지급</a></li>
                                    <li><a href="/view.php?gid=1659833"><span class="rank_num num9"></span>메타버스 게임? 펄어비스
                                        '도깨비' 올해 베일 벗는다</a></li>
                                    <li><a href="/view.php?gid=1659797"><span class="rank_num num10"></span>[노8리뷰] 가상화폐 채굴
                                        시뮬레이터, 화성 가즈아~!</a></li>
                                </ul>
                                <ul data-ranking="2" style="display: none;">
                                    <li><a href="/view.php?gid=1659912"><span class="rank_num num1"></span>닌텐도 스위치에 1만
                                        1,300원짜리 '계산기' 앱이 나왔다</a></li>
                                    <li><a href="/view.php?gid=1659852"><span class="rank_num num2"></span>쿠킹덤 흥행, 데브시스터즈 월급
                                        400% 인센티브 지급</a></li>
                                    <li><a href="/view.php?gid=1660081"><span class="rank_num num3"></span>네이버웹툰 '묘조의 일지' 기반
                                        모바일게임, 정식서비스 시작</a></li>
                                    <li><a href="/view.php?gid=1659884"><span class="rank_num num4"></span>니어 첫 모바일게임, 니어
                                        리인카네이션 사전예약 시작</a></li>
                                    <li><a href="/view.php?gid=1660076"><span class="rank_num num5"></span>'하이큐!!' 신작 모바일게임
                                        발표, 본격 배구+스토리 담는다</a></li>
                                    <li><a href="/view.php?gid=1659770"><span class="rank_num num6"></span>중세판 하우스 플리퍼? 성
                                        리모델링 시뮬레이터 나온다</a></li>
                                    <li><a href="/view.php?gid=1660062"><span class="rank_num num7"></span>군생활 담은 쯔꾸르 게임
                                        ‘전역은 오는가’ 스팀 출시</a></li>
                                    <li><a href="/view.php?gid=1659861"><span class="rank_num num8"></span>동북공정 차단, 게임위에 역사
                                        전문가 추가하는 법안 나왔다</a></li>
                                    <li><a href="/view.php?gid=1660005"><span class="rank_num num9"></span>인텔, 게임 그래픽을 실사처럼
                                        바꿔주는 AI 기술 공개</a></li>
                                    <li><a href="/view.php?gid=1660060"><span class="rank_num num10"></span>10년 스토리 대단원, 파판
                                        14 효월의 종언 11월 출시</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="right_ad">
                            <script type="text/javascript"
                                    src="https://ads.gamemeca.com/adver/js/?tag=gamemeca/gameinfo/gameinfo_ss"></script>
                            <div id="meca_ads_32">
                                <iframe src="https://ads.gamemeca.com/adver/html/?id=32" width="260" height="277"
                                        scrolling="no" style="margin: 0; padding: 0; border: none;"></iframe>
                            </div>
                        </div>
                        <!--이벤트-->
                        <style>
                            .event-right {
                                height: 380px;
                                border-top: 4px solid #e7e5e9;
                                padding-top: 25px;
                                margin-bottom: 25px;
                                display: block;
                                overflow: hidden;
                            }
                        </style>
                        <div class="event-right">
                            <span class="magazine-title"><a href="/event.php">이벤트</a></span>
                            <button class="erarrowR sliderActionE"></button>
                            <button class="erarrowL sliderActionE"></button>
                            <div id="sliderBox2">
                                <div class="event-loc-slider" style="width:1300px;">
                                    <dl>
                                        <dd>
                                            <a href="https://www.facebook.com/gamemeca/" target="_blank"><img
                                                    src="https://cdn.gamemeca.com/gmevent/000/010/18/gm430324_ev_list_banner.jpg"></a>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dd>
                                            <a href="https://twitter.com/game_meca/status/1394095748053012481"
                                               target="_blank"><img
                                                    src="https://cdn.gamemeca.com/gmevent/000/010/17/gm466478_ev_list_banner.jpg"></a>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dd>
                                            <a href="/event.php?rts=auction&amp;seq=1016"><img
                                                    src="https://cdn.gamemeca.com/gmevent/000/010/16/gm800546_ev_list_banner.jpg"></a>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <!--//이벤트-->
                        <!--게임잡지-->
                        <div class="magazine_r">
                            <span class="magazine-title"><a href="/magazine/?mgz=cartoon" target="_blank">만평동산</a></span>
                            <button class="rkarrowR sliderActionM"></button>
                            <button class="rkarrowL sliderActionM"></button>
                            <div id="sliderBox2">
                                <div class="app-loc-slider" style="width:1300px;">
                                    <dl>
                                        <dd>
                                            <a href="/magazine/index.php?mgz=cartoon&amp;ym=2018-2020" target="_blank">
                                                <img src="/magazine/file.php?title=cartoon&amp;ym=2018-2020"
                                                     style="width: 190px; height: 255px;">
                                            </a>
                                        </dd>
                                        <dl class="grayBox"><span class="ztxt">2018~2020</span></dl>
                                    </dl>
                                    <dl>
                                        <dd>
                                            <a href="/magazine/index.php?mgz=cartoon&amp;ym=2015-2017" target="_blank">
                                                <img src="/magazine/file.php?title=cartoon&amp;ym=2015-2017"
                                                     style="width: 190px; height: 255px;">
                                            </a>
                                        </dd>
                                        <dl class="grayBox"><span class="ztxt">2015~2017</span></dl>
                                    </dl>
                                    <dl>
                                        <dd>
                                            <a href="/magazine/index.php?mgz=cartoon&amp;ym=2011-2014" target="_blank">
                                                <img src="/magazine/file.php?title=cartoon&amp;ym=2011-2014"
                                                     style="width: 190px; height: 255px;">
                                            </a>
                                        </dd>
                                        <dl class="grayBox"><span class="ztxt">2011~2014</span></dl>
                                    </dl>
                                    <dl>
                                        <dd>
                                            <a href="/magazine/index.php?mgz=cartoon&amp;ym=2006-2010" target="_blank">
                                                <img src="/magazine/file.php?title=cartoon&amp;ym=2006-2010"
                                                     style="width: 190px; height: 255px;">
                                            </a>
                                        </dd>
                                        <dl class="grayBox"><span class="ztxt">2006~2010</span></dl>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div class="game-schedule">
                            <div class="title">게임일정<span class="caico"></span></div>

                            <div class="gameCal">
                                <div>
                                    <div class="date">
                                        <div><span class="year">2021</span>년</div>
                                        <div><span class="month">05</span>월</div>
                                        <div>
                                            <button class="scheduleIcoarrowL" data-ym="2021-04"></button>
                                            <button class="scheduleIcoarrowR" data-ym="2021-06"></button>
                                        </div>
                                    </div>
                                    <div class="calender">
                                        <!--달력-->
                                        <table border="0" cellspacing="0" class="calender-table">
                                            <caption></caption>
                                            <colgroup>
                                                <col width="25px">
                                                <col width="25px">
                                                <col width="25px">
                                                <col width="25px">
                                                <col width="25px">
                                                <col width="25px">
                                                <col width="25px">
                                            </colgroup>
                                            <thead>
                                            <tr>
                                                <th scope="col">일</th>
                                                <th scope="col">월</th>
                                                <th scope="col">화</th>
                                                <th scope="col">수</th>
                                                <th scope="col">목</th>
                                                <th scope="col">금</th>
                                                <th scope="col">토</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td class="sun"><a href="/game.php?rts=schedule&amp;ym=202105"></a></td>
                                                <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105"></a></td>
                                                <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105"></a></td>
                                                <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105"></a></td>
                                                <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105"></a></td>
                                                <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105"></a></td>
                                                <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">1</a></td>
                                            </tr>
                                            <tr>
                                                <td class="sun"><a href="/game.php?rts=schedule&amp;ym=202105">2</a></td>
                                                <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">3</a></td>
                                                <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">4</a></td>
                                                <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">5</a></td>
                                                <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">6</a></td>
                                                <td class="day selected"><a
                                                        href="/game.php?rts=schedule&amp;ym=202105">7</a></td>
                                                <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">8</a></td>
                                            </tr>
                                            <tr>
                                                <td class="sun"><a href="/game.php?rts=schedule&amp;ym=202105">9</a></td>
                                                <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">10</a></td>
                                                <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">11</a></td>
                                                <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">12</a></td>
                                                <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">13</a></td>
                                                <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">14</a></td>
                                                <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">15</a></td>
                                            </tr>
                                            <tr>
                                                <td class="sun"><a href="/game.php?rts=schedule&amp;ym=202105">16</a></td>
                                                <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">17</a></td>
                                                <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">18</a></td>
                                                <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">19</a></td>
                                                <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">20</a></td>
                                                <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">21</a></td>
                                                <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">22</a></td>
                                            </tr>
                                            <tr>
                                                <td class="sun"><a href="/game.php?rts=schedule&amp;ym=202105">23</a></td>
                                                <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">24</a></td>
                                                <td class="day selected"><a
                                                        href="/game.php?rts=schedule&amp;ym=202105">25</a></td>
                                                <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">26</a></td>
                                                <td class="day selected"><a
                                                        href="/game.php?rts=schedule&amp;ym=202105">27</a></td>
                                                <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">28</a></td>
                                                <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">29</a></td>
                                            </tr>
                                            <tr>
                                                <td class="sun"><a href="/game.php?rts=schedule&amp;ym=202105">30</a></td>
                                                <td class="day"><a href="/game.php?rts=schedule&amp;ym=202105">31</a></td>
                                                <td class="nextMonth"><a href="/game.php?rts=schedule&amp;ym=202105">1</a>
                                                </td>
                                                <td class="nextMonth"><a href="/game.php?rts=schedule&amp;ym=202105">2</a>
                                                </td>
                                                <td class="nextMonth"><a href="/game.php?rts=schedule&amp;ym=202105">3</a>
                                                </td>
                                                <td class="nextMonth"><a href="/game.php?rts=schedule&amp;ym=202105">4</a>
                                                </td>
                                                <td class="nextMonth"><a href="/game.php?rts=schedule&amp;ym=202105">5</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <!--//달력-->

                                        <div class="calLayer" style="display: none;z-index:1;"></div>
                                    </div>
                                </div>
                                <div class="btmAllDate">
                                    <a href="/g-report.php" class="schedule-contact">게임일정등록</a>
                                    <a href="/game.php?rts=schedule" class="schedule-view">일정전체보기</a>
                                </div>
                            </div>

                        </div>
                        <!--//일정-->
                        <!-- 인기 게임 순위 -->

                        <div class="ranking">
                            <div class="title">인기게임순위</div>
                            <div class="ranking-left">
                                <div class="list">
                                    <ul>
                                        <li>
                                            <span class="rknum1">1</span><span class="icork"></span><span
                                                class="iconum"></span><span class="icogam"><img
                                                src="https://cdn.gamemeca.com/gmdb/g000/26/18/199120.jpg" width="16"
                                                height="16"> <a href="/game.php?rts=gmview&amp;gmid=g0002618">리그 오브 레전드</a></span>
                                        </li>
                                        <li>
                                            <span class="rknum1">2</span><span class="icork1"></span><span
                                                class="iconum">1</span><span class="icogam"><img
                                                src="https://cdn.gamemeca.com/gmdb/g000/88/08/221151.jpg" width="16"
                                                height="16"> <a href="/game.php?rts=gmview&amp;gmid=g0008808">플레이어언노운스 배틀그라운드</a></span>
                                        </li>
                                        <li>
                                            <span class="rknum1">3</span><span class="icork2"></span><span
                                                class="iconum">1</span><span class="icogam"><img
                                                src="https://cdn.gamemeca.com/gmdb/g000/72/97/221151.jpg" width="16"
                                                height="16"> <a
                                                href="/game.php?rts=gmview&amp;gmid=g0007297">로스트아크</a></span>
                                        </li>
                                        <li>
                                            <span class="rknum2">4</span><span class="icork"></span><span
                                                class="iconum"></span><span class="icogam"><img
                                                src="https://cdn.gamemeca.com/gmdb/g000/18/23/199120.jpg" width="16"
                                                height="16"> <a
                                                href="/game.php?rts=gmview&amp;gmid=g0001823">서든어택</a></span>
                                        </li>
                                        <li>
                                            <span class="rknum2">5</span><span class="icork"></span><span
                                                class="iconum"></span><span class="icogam"><img
                                                src="https://cdn.gamemeca.com/gmdb/g000/96/37/692068_221151.jpg" width="16"
                                                height="16"> <a
                                                href="/game.php?rts=gmview&amp;gmid=g0009637">피파 온라인 4</a></span>
                                        </li>
                                        <li>
                                            <span class="rknum2">6</span><span class="icork"></span><span
                                                class="iconum"></span><span class="icogam"><img
                                                src="https://cdn.gamemeca.com/gmdb/g000/72/94/199120.jpg" width="16"
                                                height="16"> <a
                                                href="/game.php?rts=gmview&amp;gmid=g0007294">오버워치</a></span>
                                        </li>
                                        <li>
                                            <span class="rknum2">7</span><span class="icork"></span><span
                                                class="iconum"></span><span class="icogam"><img
                                                src="https://cdn.gamemeca.com/gmdb/g001/17/93/538821_200302-risell-uu5.jpg"
                                                width="16" height="16"> <a href="/game.php?rts=gmview&amp;gmid=g0011793">발로란트</a></span>
                                        </li>
                                        <li>
                                            <span class="rknum2">8</span><span class="icork"></span><span
                                                class="iconum"></span><span class="icogam"><img
                                                src="https://cdn.gamemeca.com/gmdb/g000/42/53/199120.jpg" width="16"
                                                height="16"> <a href="/game.php?rts=gmview&amp;gmid=g0004253">아이온: 영원의 탑</a></span>
                                        </li>
                                        <li>
                                            <span class="rknum2">9</span><span class="icork"></span><span
                                                class="iconum"></span><span class="icogam"><img
                                                src="https://cdn.gamemeca.com/gmdb/g000/10/53/221151(0).jpg" width="16"
                                                height="16"> <a
                                                href="/game.php?rts=gmview&amp;gmid=g0001053">메이플스토리</a></span>
                                        </li>
                                        <li>
                                            <span class="rknum2">10</span><span class="icork"></span><span
                                                class="iconum"></span><span class="icogam"><img
                                                src="https://cdn.gamemeca.com/gmdb/g000/04/35/199120(0).jpg" width="16"
                                                height="16"> <a
                                                href="/game.php?rts=gmview&amp;gmid=g0000435">스타크래프트</a></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pollbtn">
                                <a class="pollrank" href="/ranking.php?rid=2105"></a>
                                <a class="addpoll" href="/ranking.php"></a>
                            </div>
                        </div>    <!-- //인기 게임 순위 -->
                        <div class="right_ad2">
                            <script type="text/javascript"
                                    src="https://ads.gamemeca.com/adver/js/?tag=gamemeca/gameinfo/gameinfo_box"></script>
                            <div id="meca_ads_33">
                                <iframe src="https://ads.gamemeca.com/adver/html/?id=33" width="260" height="185"
                                        scrolling="no" style="margin: 0; padding: 0; border: none;"></iframe>
                            </div>
                        </div>
                        <script type="text/javascript" src="//ad.xc.netinsight.co.kr/xc/j/HSUDDM8V/x/fst"></script>
                        <script async="async" type="text/javascript"
                                src="https://static.criteo.net/js/ld/publishertag.js"></script>
                        <div id="criteo_slot_3531">
                            <iframe id="cto_iframe_criteo_slot_3531" frameborder="0" allowtransparency="true" hspace="0"
                                    marginwidth="0" marginheight="0" scrolling="no" vspace="0" width="250px"
                                    height="250px"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <!--// right section -->            </div>
    </div>
    <th:block th:include="fragments/footer"></th:block>
</div>
</body>

</html>