<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.gamemeca.com/g17/images/icon/gamemeca_16x16.ico" rel="shortcut icon">
    <link rel="apple-touch-icon-precomposed" href="https://cdn.gamemeca.com/g17/images/icon/gamemeca_120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="180x180"
          href="https://cdn.gamemeca.com/g17/images/icon/gamemeca_180x180.png">
    <title>점프 포스 - 게임메카</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="title" content="점프 포스 - 게임메카">
    <meta name="description"
          content="'점프 포스'는 ‘소년 점프’에서 연재됐던 만화 캐릭터들이 모두 모여 치고 받고 싸우는 대전 액션 게임이다. ‘나루토’, ‘원피스’, ‘드래곤볼’, ‘데스노트’ 등 점프 대표 만화 캐릭터들이 등장해 시공간을 뛰어넘은 싸움을 펼친다.  '점프 포스'는 내년 중 PC, PS4, Xb...">
    <meta name="keywords" content="점프포스, jump force">
    <meta name="news_keywords" content="점프포스, jump force">
    <meta name="subject" content="점프 포스 - 게임메카">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@game_meca">
    <meta name="twitter:creator" content="@game_meca">
    <meta name="twitter:image" content="https://cdn.gamemeca.com/gmdb/g001/02/90/910453_233303jf.jpg">
    <meta name="twitter:title" content="점프 포스 - 게임메카">
    <meta name="twitter:description"
          content="'점프 포스'는 ‘소년 점프’에서 연재됐던 만화 캐릭터들이 모두 모여 치고 받고 싸우는 대전 액션 게임이다. ‘나루토’, ‘원피스’, ‘드래곤볼’, ‘데스노트’ 등 점프 대표 만화 캐릭터들이 등장해 시공간을 뛰어넘은 싸움을 펼친다.  '점프 포스'는 내년 중 PC, PS4, Xb...">

    <meta property="og:url" content="https://www.gamemeca.com/view.php?gid=1468348">
    <meta property="og:title" content="점프 포스 - 게임메카">
    <meta property="og:description"
          content="'점프 포스'는 ‘소년 점프’에서 연재됐던 만화 캐릭터들이 모두 모여 치고 받고 싸우는 대전 액션 게임이다. ‘나루토’, ‘원피스’, ‘드래곤볼’, ‘데스노트’ 등 점프 대표 만화 캐릭터들이 등장해 시공간을 뛰어넘은 싸움을 펼친다.  '점프 포스'는 내년 중 PC, PS4, Xb...">
    <meta property="og:image" content="https://cdn.gamemeca.com/gmdb/g001/02/90/910453_233303jf.jpg">
    <meta property="og:image:width" content="800">
    <meta property="og:image:height" content="480">
    <meta property="og:type" content="article">
    <meta property="og:article:author" content="게임메카">
    <meta property="og:locale" content="ko_KR">


    <meta property="kakao:title" content="점프 포스 - 게임메카">
    <meta property="kakao:description"
          content="'점프 포스'는 ‘소년 점프’에서 연재됐던 만화 캐릭터들이 모두 모여 치고 받고 싸우는 대전 액션 게임이다. ‘나루토’, ‘원피스’, ‘드래곤볼’, ‘데스노트’ 등 점프 대표 만화 캐릭터들이 등장해 시공간을 뛰어넘은 싸움을 펼친다.  '점프 포스'는 내년 중 PC, PS4, Xb...">
    <meta name="resource-type" content="article">
    <meta name="image" content="https://cdn.gamemeca.com/gmdb/g001/02/90/910453_233303jf.jpg">
    <link rel="image_src" href="https://cdn.gamemeca.com/gmdb/g001/02/90/910453_233303jf.jpg">

    <link rel="canonical"
          href="https://www.gamemeca.com/game.php?rts=gmview&amp;gmid=g0010290&amp;tab=sshot&amp;gid=1468348">


    <meta name="robots" content="noindex">


    <link rel="stylesheet" type="text/css" href="https://cdn.gamemeca.com/g17/css/common.css?v=21052513">
    <script src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script src="https://www.googletagservices.com/activeview/js/current/osd.js"></script>
    <script src="https://partner.googleadservices.com/gampad/cookie.js?domain=www.gamemeca.com&amp;callback=_gfp_s_&amp;client=ca-pub-2639901077908883&amp;cookie=ID%3D8074a0501fd65e83-22c4646cd4c70047%3AT%3D1620346922%3ART%3D1620346922%3AS%3DALNI_MbmouJTq7I9Jw0230NAMARflbAF5g"></script>
    <script async="" src="//www.google-analytics.com/analytics.js"></script>
    <script src="https://pagead2.googlesyndication.com/pagead/js/r20210517/r20190131/show_ads_impl_fy2019.js"
            id="google_shimpl"></script>
    <script src="https://connect.facebook.net/ko_KR/sdk.js?hash=615dd2e6339dc2e8cc39506f55240ca9&amp;ua=modern_es6"
            async="" crossorigin="anonymous"></script>
    <th:block th:include="common/base"></th:block>
    <script layout:fragment="script" type="text/javascript" th:src="@{/assets/js/gm/gm004/gm004-01.js}"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.gamemeca.com/g17/css/gameinfo.css?v=21052513?v=21052513">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-161YMYELG0"></script>
</head>
<body>
<th:block th:include="fragments/header"></th:block>
<div id="main">
    <input type="hidden" th:value="${gameId}" th:attr="id='gameId'"/>
    <input type="hidden" th:value="${gameSshotId}" th:attr="id='gameSshotId'"/>
    <th:block th:include="common/aside"></th:block>
    <div id="content">
        <div class="content-left">
            <!--기본 정보-->
            <th:block th:include="gm/gm000/gm000-01"></th:block>
            <!--게임정보 탭-->
            <div class="db-sub-menu">
                <ul>
                    <li class="" data-ax-path="gmInfo">
                        <a href="#">주요정보</a>
                    </li>
                    <li data-ax-path="gmNews">
                        <a href="#" rel="nofollow">뉴스</a>
                    </li>
                    <li data-ax-path="gmReview">
                        <a href="#" rel="nofollow">프리뷰/리뷰</a>
                    </li>
                    <li data-ax-path="gmSshot">
                        <a href="#" rel="nofollow">스크린샷</a>
                    </li>
                    <li data-ax-path="gmVideo">
                        <a href="#" rel="nofollow">동영상</a>
                    </li>
                    <li data-ax-path="gmAttack">
                        <a href="#" rel="nofollow">공략</a>
                    </li>
                    <li data-ax-path="">
                        <a href="#" rel="nofollow">히스토리</a>
                    </li>
                </ul>
            </div>
            <div id="layer-box" style="">
                <h2 class="gmview-title" data-ax-path="description">게임에서 '윈나드' 집결, 프리저와 나루토가 싸우면? '점프 포스'</h2>
                <div class="topThumList">
                    <div class="left_arrow comm-img leftarrow layer-head-movement"><a></a></div>
                    <div class="scthum">
                        <ul id="layer-header-ul" >

                        </ul>
                    </div>
                    <div class="right_arrow comm-img rightarrow layer-head-movement"><a></a></div>
                </div>

                <div class="midThumBox">
                    <span class="comm-img prearw layer-body-movement prev-layer"><a></a></span>
                    <div id="layer-body-img"><img
                            src="https://cdn.gamemeca.com/gmdata/0001/468/348/193076_600335jf2.jpg"
                            style="width: 100%; height: 429px;"></div>
                    <span class="comm-img nexarw layer-body-movement next-layer"><a></a></span>
                </div>

                <div id="reply-box">
                    <script type="text/javascript" src="https://www.gamemeca.com/_comment/comment.js?v=200731"></script>
                    <script type="text/javascript" src="https://www.gamemeca.com/_script/autolink.js"></script>
                    <link rel="stylesheet" type="text/css" href="https://cdn.gamemeca.com/g17/css/comment.css">

                    <a name="comment"></a>
                    <div class="gm_comment">
                        <div class="commt_heard">댓글 <span>0</span> <span class="explan"> (댓글을 달면 5포션이 지급됩니다)</span>
                        </div>
                        <div class="commt_write">
                            <div class="loginBox">
                                <button class="gamemeca" data-sns="gamemeca"></button>
                                <button class="twitter" data-sns="twitter"></button>
                                <button class="facebook" data-sns="facebook"></button>
                                <button class="naver" data-sns="naver"></button>
                                <button class="google" data-sns="google"></button>
                                <button class="logout" style="display: none;">로그아웃</button>
                            </div>
                            <textarea class="commt"
                                      placeholder="저작권 등 다른 사람의 권리를 침해하거나 명예를 훼손하는 게시물과 댓글은 이용약관과 관련 법률에 의해 제재를 받을 수 있습니다. 또한 타인에게 불쾌감을 주는 욕설이나 비하하는 단어들도 삼가시기 바랍니다."></textarea>
                            <button data-acd="1468348">등록</button>
                        </div>
                        <div class="commt_list">
                            <div class="please_write_comment"><img
                                    src="//cdn.gamemeca.com/g17/images/common/ico_smile.gif">
                                <div class="please_comment_txt">첫번째 댓글을 남겨주세요.</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <form action="/gm/gm004/gm004-01" id="gameSshotForm" method="post">
                    <div class="dblist_st">
                        <div class="dbnum h2"><ins class="gmview-tab-guide-total"></ins>총 <span data-ax-path="shCnt"></span>개의 스크린샷이 있습니다.</div>
                    </div>
                    <div class="db-cont2">
                        <div class="db_thumlist">
                            <ul id="ulSshot_1" class="ulSshotClass">
                                <li style="display: none" id="liSshot_1">
                                    <a class="loadThumbView" >
                                        <span class="iconsc"></span>
                                        <img src="#" data-ax-path="gameSshotImgUrl"></a>
                                    <a class="title" data-ax-path="description"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="list-page-nav" class="pagingNav" ></div>
            </form>
        </div>

        <!-- right section -->
        <div class="content-right">
            <div class="gmview-section-right">
                <div class="section-right">
                    <!--특별페이지 / 메카 파워진 금~월-->
                    <!--//특별페이지-->
                    <!--많이본 뉴스-->
                    <div class="rank_wrap">
                        <div class="tab_enter">
                            <a class="link_tab " onclick="return false;">많이본 뉴스</a>
                            <a class="link_tab on" onclick="return false;">SNS 화제</a>
                        </div>
                        <div class="rank_list">
                            <ul data-ranking="1" style="display:none;">
                                <li><a href="/view.php?gid=1660384"><span class="rank_num num1"></span>바하 빌리지 큰누나
                                    '드미트레스쿠' 8 대 1 피규어 공개</a></li>
                                <li><a href="/view.php?gid=1660176"><span class="rank_num num2"></span>[기자수첩] 게임계 '메타버스'
                                    열풍은 분명 비정상이다</a></li>
                                <li><a href="/view.php?gid=1660454"><span class="rank_num num3"></span>역대급 연출, 귀멸의 칼날
                                    히노카미 혈풍담 국내 발매 확정</a></li>
                                <li><a href="/view.php?gid=1660330"><span class="rank_num num4"></span>껌은사막-김은사막-감은사막-검은사각
                                    기획자를 만나다</a></li>
                                <li><a href="/view.php?gid=1660357"><span class="rank_num num5"></span>[이구동성] 편애하시는 건가요?</a>
                                </li>
                                <li><a href="/view.php?gid=1660189"><span class="rank_num num6"></span>[노8리뷰] 바하 빌리지, 뭐야
                                    거대눈나 돌려줘요</a></li>
                                <li><a href="/view.php?gid=1660314"><span class="rank_num num7"></span>태그 토너먼트 3 예고? 철권
                                    SNS에 의문의 '3' 티저가</a></li>
                                <li><a href="/view.php?gid=1660201"><span class="rank_num num8"></span>[순위분석] 국내외에서 함께
                                    밀었다, 정체기 뚫어낸 파판 14</a></li>
                                <li><a href="/view.php?gid=1660385"><span class="rank_num num9"></span>이동신 디렉터 입원, 엘소드
                                    유저간담회 6월로 연기</a></li>
                                <li><a href="/view.php?gid=1660157"><span class="rank_num num10"></span>로블록스가 '게임' 지우기에
                                    나섰다</a></li>
                            </ul>
                            <ul data-ranking="2" style="display:block;">
                                <li><a href="/view.php?gid=1660324"><span class="rank_num num1"></span>200만 독자 웹소설
                                    '그·공·사' 스토리게임으로 나온다</a></li>
                                <li><a href="/view.php?gid=1660201"><span class="rank_num num2"></span>[순위분석] 국내외에서 함께
                                    밀었다, 정체기 뚫어낸 파판 14</a></li>
                                <li><a href="/view.php?gid=1660384"><span class="rank_num num3"></span>바하 빌리지 큰누나
                                    '드미트레스쿠' 8 대 1 피규어 공개</a></li>
                                <li><a href="/view.php?gid=1660330"><span class="rank_num num4"></span>껌은사막-김은사막-감은사막-검은사각
                                    기획자를 만나다</a></li>
                                <li><a href="/view.php?gid=1660300"><span class="rank_num num5"></span>오버워치 2 PvP는 5 대
                                    5다</a></li>
                                <li><a href="/view.php?gid=1660301"><span class="rank_num num6"></span>이제 점령 전장은 없다,
                                    오버워치 2 신규 맵 5종 공개</a></li>
                                <li><a href="/view.php?gid=1660385"><span class="rank_num num7"></span>이동신 디렉터 입원, 엘소드
                                    유저간담회 6월로 연기</a></li>
                                <li><a href="/view.php?gid=1660146"><span class="rank_num num8"></span>EA, 스킬트리처럼 보상을
                                    찍어가는 배틀패스 특허 냈다</a></li>
                                <li><a href="/view.php?gid=1660240"><span class="rank_num num9"></span>[순정남] R.I.P. 미우라
                                    켄타로, 베르세르크 게임 TOP 5</a></li>
                                <li><a href="/view.php?gid=1660419"><span class="rank_num num10"></span>일리단의 불타는 녹색 눈빛
                                    담긴 한정판 선글라스 나온다</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="right_ad">
                        <script type="text/javascript"
                                src="https://ads.gamemeca.com/adver/js/?tag=gamemeca/gameinfo/gameinfo_ss"></script>
                        <div id="meca_ads_32">
                            <iframe src="https://ads.gamemeca.com/adver/html/?id=32" width="260" height="277"
                                    scrolling="no" style="margin: 0; padding: 0; border: none;"></iframe>
                        </div>
                    </div>
                    <!--이벤트-->
                    <style>
                        .event-right {
                            height: 380px;
                            border-top: 4px solid #e7e5e9;
                            padding-top: 25px;
                            margin-bottom: 25px;
                            display: block;
                            overflow: hidden;
                        }
                    </style>
                    <div class="event-right">
                        <span class="magazine-title"><a href="/event.php">이벤트</a></span>
                        <button class="erarrowR sliderActionE"></button>
                        <button class="erarrowL sliderActionE"></button>
                        <div id="sliderBox2">
                            <div class="event-loc-slider" style="width:1300px;">
                                <dl>
                                    <dd>
                                        <a href="https://twitter.com/game_meca/status/1396632114594869253"
                                           target="_blank"><img
                                                src="https://cdn.gamemeca.com/gmevent/000/010/21/gm256364_ev_list_banner.jpg"></a>
                                    </dd>
                                </dl>
                                <dl>
                                    <dd>
                                        <a href="/event.php?rts=reply&amp;seq=1020"><img
                                                src="https://cdn.gamemeca.com/gmevent/000/010/20/gm311927_ev_list_banner.jpg"></a>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <!--//이벤트-->
                    <!--게임잡지-->


                    <!--일정-->


                    <!--//일정-->
                    <!-- 인기 게임 순위 -->

                    <div class="ranking">
                        <div class="title">인기게임순위</div>
                        <div class="ranking-left">
                            <div class="list">
                                <ul>
                                    <li>
                                        <span class="rknum1">1</span><span class="icork"></span><span
                                            class="iconum"></span><span class="icogam"><img
                                            src="https://cdn.gamemeca.com/gmdb/g000/26/18/199120.jpg" width="16"
                                            height="16"> <a href="/game.php?rts=gmview&amp;gmid=g0002618">리그 오브 레전드</a></span>
                                    </li>
                                    <li>
                                        <span class="rknum1">2</span><span class="icork"></span><span
                                            class="iconum"></span><span class="icogam"><img
                                            src="https://cdn.gamemeca.com/gmdb/g000/88/08/221151.jpg" width="16"
                                            height="16"> <a href="/game.php?rts=gmview&amp;gmid=g0008808">플레이어언노운스 배틀그라운드</a></span>
                                    </li>
                                    <li>
                                        <span class="rknum1">3</span><span class="icork"></span><span
                                            class="iconum"></span><span class="icogam"><img
                                            src="https://cdn.gamemeca.com/gmdb/g000/72/97/221151.jpg" width="16"
                                            height="16"> <a
                                            href="/game.php?rts=gmview&amp;gmid=g0007297">로스트아크</a></span>
                                    </li>
                                    <li>
                                        <span class="rknum2">4</span><span class="icork"></span><span
                                            class="iconum"></span><span class="icogam"><img
                                            src="https://cdn.gamemeca.com/gmdb/g000/18/23/199120.jpg" width="16"
                                            height="16"> <a
                                            href="/game.php?rts=gmview&amp;gmid=g0001823">서든어택</a></span>
                                    </li>
                                    <li>
                                        <span class="rknum2">5</span><span class="icork1"></span><span
                                            class="iconum">1</span><span class="icogam"><img
                                            src="https://cdn.gamemeca.com/gmdb/g000/72/94/199120.jpg" width="16"
                                            height="16"> <a
                                            href="/game.php?rts=gmview&amp;gmid=g0007294">오버워치</a></span>
                                    </li>
                                    <li>
                                        <span class="rknum2">6</span><span class="icork2"></span><span
                                            class="iconum">1</span><span class="icogam"><img
                                            src="https://cdn.gamemeca.com/gmdb/g000/96/37/692068_221151.jpg" width="16"
                                            height="16"> <a
                                            href="/game.php?rts=gmview&amp;gmid=g0009637">피파 온라인 4</a></span>
                                    </li>
                                    <li>
                                        <span class="rknum2">7</span><span class="icork"></span><span
                                            class="iconum"></span><span class="icogam"><img
                                            src="https://cdn.gamemeca.com/gmdb/g001/17/93/538821_200302-risell-uu5.jpg"
                                            width="16" height="16"> <a href="/game.php?rts=gmview&amp;gmid=g0011793">발로란트</a></span>
                                    </li>
                                    <li>
                                        <span class="rknum2">8</span><span class="icork"></span><span
                                            class="iconum"></span><span class="icogam"><img
                                            src="https://cdn.gamemeca.com/gmdb/g000/42/53/199120.jpg" width="16"
                                            height="16"> <a href="/game.php?rts=gmview&amp;gmid=g0004253">아이온: 영원의 탑</a></span>
                                    </li>
                                    <li>
                                        <span class="rknum2">9</span><span class="icork"></span><span
                                            class="iconum"></span><span class="icogam"><img
                                            src="https://cdn.gamemeca.com/gmdb/g000/10/53/221151(0).jpg" width="16"
                                            height="16"> <a
                                            href="/game.php?rts=gmview&amp;gmid=g0001053">메이플스토리</a></span>
                                    </li>
                                    <li>
                                        <span class="rknum2">10</span><span class="icork"></span><span
                                            class="iconum"></span><span class="icogam"><img
                                            src="https://cdn.gamemeca.com/gmdb/g000/04/35/199120(0).jpg" width="16"
                                            height="16"> <a
                                            href="/game.php?rts=gmview&amp;gmid=g0000435">스타크래프트</a></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="pollbtn">
                            <a class="pollrank" href="/ranking.php?rid=2106"></a>
                            <a class="addpoll" href="/ranking.php"></a>
                        </div>
                    </div>    <!-- //인기 게임 순위 -->
                    <div class="right_ad2">
                        <script type="text/javascript"
                                src="https://ads.gamemeca.com/adver/js/?tag=gamemeca/gameinfo/gameinfo_box"></script>
                        <div id="meca_ads_33">
                            <iframe src="https://ads.gamemeca.com/adver/html/?id=33" width="260" height="185"
                                    scrolling="no" style="margin: 0; padding: 0; border: none;"></iframe>
                        </div>
                    </div>
                    <script type="text/javascript" src="//ad.xc.netinsight.co.kr/xc/j/HSUDDM8V/x/fst"></script>
                    <script async="async" type="text/javascript"
                            src="https://static.criteo.net/js/ld/publishertag.js"></script>
                    <div id="criteo_slot_3531">
                        <iframe id="criteo_slot_3531_iframe" frameborder="0" allowtransparency="true" hspace="0"
                                marginwidth="0" marginheight="0" scrolling="no" vspace="0" width="250"
                                height="250"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <!--// right section -->            </div>
</div>

<th:block th:include="fragments/footer"></th:block>

</body>

</html>