<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.gamemeca.com/g17/images/icon/gamemeca_16x16.ico" rel="shortcut icon">
    <link rel="apple-touch-icon-precomposed" href="https://cdn.gamemeca.com/g17/images/icon/gamemeca_120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="180x180"
          href="https://cdn.gamemeca.com/g17/images/icon/gamemeca_180x180.png">
    <title>전체 스크린샷 - 게임메카</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="title" content="전체 스크린샷  - 게임메카">
    <meta name="description" content="온라인, PC, 비디오, 모바일, 웹게임 등 전세계 게임이 한자리에 모였다. 게임 타이틀 정보 및 검색을 지원합니다. 전체 스크린샷 카테고리">
    <meta name="keywords" content="전체 스크린샷  - 게임메카">
    <meta name="news_keywords" content="전체 스크린샷  - 게임메카">
    <meta name="subject" content="전체 스크린샷  - 게임메카">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@game_meca">
    <meta name="twitter:creator" content="@game_meca">
    <meta name="twitter:image" content="https://cdn.gamemeca.com/g17/images/common/meca_logo_sns.gif">
    <meta name="twitter:title" content="전체 스크린샷  - 게임메카">
    <meta name="twitter:description"
          content="온라인, PC, 비디오, 모바일, 웹게임 등 전세계 게임이 한자리에 모였다. 게임 타이틀 정보 및 검색을 지원합니다. 전체 스크린샷 카테고리">

    <meta property="og:url" content="https://www.gamemeca.com/game.php?rts=sshot">
    <meta property="og:title" content="전체 스크린샷  - 게임메카">
    <meta property="og:description"
          content="온라인, PC, 비디오, 모바일, 웹게임 등 전세계 게임이 한자리에 모였다. 게임 타이틀 정보 및 검색을 지원합니다. 전체 스크린샷 카테고리">
    <meta property="og:image" content="https://cdn.gamemeca.com/g17/images/common/meca_logo_sns.gif">
    <meta property="og:image:width" content="800">
    <meta property="og:image:height" content="480">
    <meta property="og:type" content="article">
    <meta property="og:article:author" content="게임메카">
    <meta property="og:locale" content="ko_KR">
    <meta property="kakao:title" content="전체 스크린샷  - 게임메카">
    <meta property="kakao:description"
          content="온라인, PC, 비디오, 모바일, 웹게임 등 전세계 게임이 한자리에 모였다. 게임 타이틀 정보 및 검색을 지원합니다. 전체 스크린샷 카테고리">
    <meta name="resource-type" content="article">
    <meta name="image" content="https://cdn.gamemeca.com/g17/images/common/meca_logo_sns.gif">
    <link rel="image_src" href="https://cdn.gamemeca.com/g17/images/common/meca_logo_sns.gif">

    <link rel="canonical" href="https://www.gamemeca.com/game.php?rts=sshot">

    <th:block th:include="common/base"></th:block>
    <script layout:fragment="script" type="text/javascript" th:src="@{/assets/js/gm/gm004/gm004.js}"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.gamemeca.com/g17/css/common.css?v=21052022">

    <link rel="stylesheet" type="text/css" href="https://cdn.gamemeca.com/g17/css/gameinfo.css?v=21052022?v=21052022">
</head>
<body style="position: relative; min-height: 100%; top: 0px;">

<th:block th:include="fragments/header"></th:block>

<div id="main">
    <th:block th:include="common/aside"></th:block>
    <div id="content">
        <div class="content-top-ad">
            <script type="text/javascript"
                    src="https://ads.gamemeca.com/adver/js/?tag=gamemeca/gameinfo/gameinfo_big"></script>
            <div id="meca_ads_31">
                <iframe src="https://ads.gamemeca.com/adver/html/?id=31" width="1041" height="80" scrolling="no"
                        style="margin: 0; padding: 0; border: none;"></iframe>
            </div>
        </div>
        <!-- sub tab menus -->
        <div class="list-sub-menu">
            <ul id="platform">
                <li class="on"><a href="#" data-ax-path="">전체</a></li>
                <li class=""><a href="#" data-ax-path="온라인">온라인</a></li>
                <li class=""><a href="#" data-ax-path="PC">PC</a></li>
                <li class=""><a href="#" data-ax-path="비디오">비디오</a></li>
                <li class=""><a href="#" data-ax-path="웹게임">웹게임</a></li>
                <li class=""><a href="#" data-ax-path="VR">VR</a></li>
                <li data-ax-path="notX"></li>
            </ul>
        </div><!--// sub tab menus -->

        <div class="list-title">
            <div>
                <ins class="mark"></ins>
                총 <em data-ax-path="shCnt"></em>개의 스크린샷이 있습니다.
            </div>
            <div id="google_translate_element" style="display:inline-block;">
                <div class="skiptranslate goog-te-gadget" dir="ltr" style="">
                    <div id=":0.targetLanguage" class="goog-te-gadget-simple" style="white-space: nowrap;"><img
                            src="https://www.google.com/images/cleardot.gif" class="goog-te-gadget-icon" alt=""
                            style="background-image: url(&quot;https://translate.googleapis.com/translate_static/img/te_ctrl3.gif&quot;); background-position: -65px 0px;"><span
                            style="vertical-align: middle;"><a aria-haspopup="true" class="goog-te-menu-value"
                                                               href="javascript:void(0)"><span>언어 선택</span><img
                            src="https://www.google.com/images/cleardot.gif" alt="" width="1" height="1"><span
                            style="border-left: 1px solid rgb(187, 187, 187);">​</span><img
                            src="https://www.google.com/images/cleardot.gif" alt="" width="1" height="1"><span
                            aria-hidden="true" style="color: rgb(118, 118, 118);">▼</span></a></span></div>
                </div>
            </div>

        </div>
        <form action="/gm/gm000/gm000" id="gameForm" method="post">
            <div class="game-thumb-box">
                <ul class="game-thumb-ul" id="ulSshot_1">
                    <li style="display: none" id="liSshot_1">
                        <input type="hidden" data-ax-path="gameId"/>
                        <a href="#" class="static-thumbnail">
                            <span class="static-thumbnail-style"></span>
                            <span class="iconsc"></span> <img data-ax-path="gameSshotImgUrl"
                                src="">
                        </a>
                        <div class="thumb_title" data-ax-path="gameName"></div>
                        <div class="thumb_txt">플렛폼: <span class="green"  data-ax-path="platform"></span></div>
                        <div class="thumb_txt">장르: <span class="green" data-ax-path="genre"></span></div>
                    </li>
                </ul>
            </div>
        </form>

        <!-- paging -->
            <div id="list-page-nav" class="pagingNav" ></div>

       </div>
</div>



<th:block th:include="fragments/footer"></th:block>



</body>

</html>