<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.gamemeca.com/g17/images/icon/gamemeca_16x16.ico" rel="shortcut icon">
    <link rel="apple-touch-icon-precomposed" href="https://cdn.gamemeca.com/g17/images/icon/gamemeca_120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="180x180"
          href="https://cdn.gamemeca.com/g17/images/icon/gamemeca_180x180.png">
    <title>인기 게임 순위 - 게임메카</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="title" content="인기 게임 순위 - 게임메카">
    <meta name="description" content="할 게임이 없네. 요즘 무슨 게임이 재미있나 한 번 볼까? 게임 불감증에 걸린 게이머를 위한 게임메카 인기 게임 순위">
    <meta name="keywords" content="인기 게임 순위 - 게임메카">
    <meta name="news_keywords" content="인기 게임 순위 - 게임메카">
    <meta name="subject" content="인기 게임 순위 - 게임메카">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@game_meca">
    <meta name="twitter:creator" content="@game_meca">
    <meta name="twitter:image" content="https://cdn.gamemeca.com/g17/images/common/meca_logo_sns.gif">
    <meta name="twitter:title" content="인기 게임 순위 - 게임메카">
    <meta name="twitter:description" content="할 게임이 없네. 요즘 무슨 게임이 재미있나 한 번 볼까? 게임 불감증에 걸린 게이머를 위한 게임메카 인기 게임 순위">

    <meta property="og:url" content="https://www.gamemeca.com">
    <meta property="og:title" content="인기 게임 순위 - 게임메카">
    <meta property="og:description" content="할 게임이 없네. 요즘 무슨 게임이 재미있나 한 번 볼까? 게임 불감증에 걸린 게이머를 위한 게임메카 인기 게임 순위">
    <meta property="og:image" content="https://cdn.gamemeca.com/g17/images/common/meca_logo_sns.gif">
    <meta property="og:image:width" content="800">
    <meta property="og:image:height" content="480">
    <meta property="og:type" content="article">
    <meta property="og:article:author" content="게임메카">
    <meta property="og:locale" content="ko_KR">


    <meta property="kakao:title" content="인기 게임 순위 - 게임메카">
    <meta property="kakao:description" content="할 게임이 없네. 요즘 무슨 게임이 재미있나 한 번 볼까? 게임 불감증에 걸린 게이머를 위한 게임메카 인기 게임 순위">
    <meta name="resource-type" content="article">
    <meta name="image" content="https://cdn.gamemeca.com/g17/images/common/meca_logo_sns.gif">
    <link rel="image_src" href="https://cdn.gamemeca.com/g17/images/common/meca_logo_sns.gif">

    <link rel="canonical" href="https://www.gamemeca.com/ranking.php">
    <link rel="alternate" media="only screen and (max-width: 640px)" href="https://m.gamemeca.com/ranking.php">


    <link rel="stylesheet" type="text/css" href="https://cdn.gamemeca.com/g17/css/common.css?v=21051318">
    <script src="https://www.googletagservices.com/activeview/js/current/osd.js"></script>
    <script src="https://partner.googleadservices.com/gampad/cookie.js?domain=www.gamemeca.com&amp;callback=_gfp_s_&amp;client=ca-pub-2639901077908883&amp;cookie=ID%3D8074a0501fd65e83-22c4646cd4c70047%3AT%3D1620346922%3ART%3D1620346922%3AS%3DALNI_MbmouJTq7I9Jw0230NAMARflbAF5g"></script>
    <script src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script async="" src="//www.google-analytics.com/analytics.js"></script>
    <script src="https://pagead2.googlesyndication.com/pagead/js/r20210510/r20190131/show_ads_impl_fy2019.js"
            id="google_shimpl"></script>

    <th:block th:include="common/base"></th:block>
    <script layout:fragment="script" type="text/javascript" th:src="@{/assets/js/gm/gm006/gm006.js}"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.gamemeca.com/g17/css/ranking.css?v=21051318">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-161YMYELG0"></script>
</head>
<body>
<th:block th:include="fragments/header"></th:block>
<div id="main">
    <th:block th:include="common/aside"></th:block>
    <div id="content">
        <div class="content-top-ad">
            <script type="text/javascript"
                    src="https://ads.gamemeca.com/adver/js/?tag=gamemeca/common/common_big"></script>
            <div id="meca_ads_7">
                <iframe src="https://ads.gamemeca.com/adver/html/?id=7" width="1041" height="80" scrolling="no"
                        style="margin: 0; padding: 0; border: none;"></iframe>
            </div>
        </div>
        <div class="content-ti-ad"></div>
        <div class="ranking_list">
            <div class="ranking-header">
				<span class="ranking-date" >
					<span class="rankYear"></span>
                    <span class="rankOneWeek"></span>
                    <span style="font-size:0.8em;"> 기준</span>
				</span>
                <span class="ranking-description">
					포털 트렌드, PC방 게임접속, 인터넷 게임방송 시청자 수, 게임메카 유저들의 투표를 기준으로 집계				</span>

                <span class="ranking-complete-select">
                    <div th:fragment="article_type">
                        <select class="before-ranking" id="selectWeeks" >
                            <option value="">월/일</option>
                            <option th:each="item : ${rankOneWeek}"
                                    th:value="${item.GAME_RANK_ONEWEEK}"
                                    th:text="${item.GAME_RANK_ONEWEEK}"
                                    />
                        </select>
                    </div>
				</span>

                <span class="ranking-complete-select">
					<select id="selectYears">
                        <option value="">년도</option>
                        <option th:each="item : ${rankYear}"
                                th:value="${item.GAME_RANK_YEAR}"
                                th:text="${item.GAME_RANK_YEAR}"/>
                    </select>
				</span>
            </div>

            <table class="ranking-table">
                <thead>
                <tr class="ranking-table-header">
                    <th>순위</th>
                    <th></th>
                    <th></th>
                    <th>게임명</th>
                    <th>국민트리</th>
                    <th>뉴스</th>
                    <th>프리뷰<br>/리뷰</th>
                    <th>동영상</th>
                    <th>스크린샷</th>
                    <th>사이트</th>
                </tr>
                </thead>
                <tbody id="rankTbody">
                <tr class="ranking-table-rows" id="rankTr" style="display: none;">
                    <td>
                        <input type="checkbox" class="rankSeq" value="663251"> <span class="rank" data-ax-path="gameRankCount">1</span>
                        <span class="rankChange" data-ax-path="gameRankPast">
                            <span class="" data-ax-path="gameRankStatus"></span>
                        </span>
                    </td>

                    <td><img class="game-icon" data-ax-path="gameRankImg" src="https://cdn.gamemeca.com/gmdb/g000/26/18/12877.jpg"
                             alt="icon 75*46"></td>
                    <td><span class="ranking-static-img ranking-static-list"></span></td>
                    <td>
                        <div class="game-name"><a href="/game.php?rts=gmview&amp;gmid=g0002618" data-ax-path="gameName">리그 오브 레전드</a></div>
                        <div class="game-info">
                            <span class="company" data-ax-path="producer"><a href="/game.php?rts=company&amp;gmcid=103">라이엇게임즈</a></span> |
                            <span data-ax-path="platform">AOS</span>
                            <span data-ax-path="serviceStatus">부분유료화</span>
                        </div>
                    </td>
                    <td><a class="ranking-static-img ranking-static-issue"
                           href="https://trees.gamemeca.com/leagueoflegends/" target="_blank"></a></td>
                    <td><a class="ranking-static-img ranking-static-news" href="/news.php?gmid=g0002618"
                           target="_blank"></a></td>
                    <td><a class="ranking-static-img ranking-static-review" href="/review.php?gmid=g0002618"
                           target="_blank"></a></td>
                    <td><a class="ranking-static-img ranking-static-movie"
                           href="/game.php?rts=gmview&amp;gmid=g0002618&amp;tab=movie" target="_blank"></a></td>
                    <td><a class="ranking-static-img ranking-static-sshot"
                           href="/game.php?rts=gmview&amp;gmid=g0002618&amp;tab=sshot" target="_blank"></a></td>
                    <td><a class="ranking-static-img ranking-static-site" href="/game.php?rts=gmview&amp;gmid=g0002618"
                           target="_blank"></a></td>
                </tr>
                </tbody>
            </table>
            <div class="ranking-poll">
                <div class="ranking-poll-area">
                    <div class="pollinfo_txt"><span class="pollinfo_ico"></span>집계된 결과는 다음주 게임순위에 반영됩니다.
                </div>
                <button class="poll-action-btn"></button>
            </div>
        </div>
    </div>
</div>
</div>
<th:block th:include="fragments/footer"></th:block>

</body>

</html>